[2014-07-02 20:21] mikolak-net opened #1 "Support/enforce fixed-width fonts in edit pane"
Currently, the left-hand edit pane uses a non-fixed-width font (at least on my OS, Kubuntu 14.04).

This is a problem, since in Asciidoc the number of character repetitions for sections/preamble separators is significant wrt. the section/preamble title length. It's especially confusing for Asciidoc beginners (such as myself).

Hence, it would be nice if AsciidocFX would attempt to enforce a fixed-

[2014-07-05 12:45] ellipticview opened #2 "Exception when invoking from Windows Explorer"
Associate AsciidocFX with .adoc files in Windows explorer.
Double-click on a file. This results in notification window. The window title is:

com/Kodcu/Start

The error message is:
Failed due to exception from main class.

Would be nice to have this fixed so that files can be opened from Windows Explorer instead of having to open them from the File>Open menu.

[2014-07-05 19:47] ellipticview opened #3 "Down-key not always working"
When moving down to the next line, the cursor moves one character to the left as well.

When the next line is shorter than current cursor position, the down key moves the cursor to the end of the current line (instead of to the next line).

When the cursor is at the end of a line, the down-key does not move the cursor to the next line.

Observing all of this on Windows7

[2014-07-06 14:39] ellipticview opened #4 "Improvements for File > Open dialogue"
I really like this editor, so I hope you're planning to extend and improve it. I'd like it to be easier to open a file.
Currently the File > Open dialogue opens the root of my Windows PC. And then I have to navigate to my project directory. The experience would be greatly improved with:
1. Remember the last directory that was opened. Open this directory on the next File > Open action.
2. Have a Mo

[2014-07-08 13:30] #1 closed, assigned to nobody

[2014-07-09 19:54] mikolak-net opened #5 ""Asciidoc" fille filter incorrect"
Currently, the filter for Asciidoc excludes *.txt. I believe this is incorrect, since [this seems to be the "official" extension](http://asciidoc.org/#_overview_and_examples).

[2014-07-09 20:59] #2 closed, assigned to nobody

[2014-07-09 20:59] #4 closed, assigned to nobody

[2014-07-09 21:23] #5 closed, assigned to nobody

[2014-07-09 21:23] #3 closed, assigned to nobody

[2014-08-04 23:21] jevad opened #7 "JSException: SyntaxError: Expected token ')'"
- Version of AsciidocFX:  1.0.3
- Operating System:  Windows 7
- Java Version:  java version "1.8.0_11"
  Java(TM) SE Runtime Environment (build 1.8.0_11-b12)
  Java HotSpot(TM) 64-Bit Server VM (build 25.11-b03, mixed mode)
- Error message (in console):
  Exception in thread "JavaFX Application Thread" netscape.javascript.JSException: SyntaxError: Expected token ')'
      at com.sun.webkit.dom.JS

[2014-08-05 20:53] #7 closed, assigned to nobody

[2014-08-20 21:14] AlexCzar opened #8 "Make editor fonts configurable"
I'd like an option to configure editor font, nothing fancy - just font-family and size.

[2014-10-02 17:25] ozlerhakan opened #9 "The alignment of the caption of each figure"
Hi Rahman :),

I just found that it would be perfect if the text-alignment option of each title points 'center' instead 'left'.
What do you think about it?

https://github.com/rahmanusta/AsciidocFX/blob/master/src/main/resources/public/css/asciidoctor-default.css#L1037

[2014-10-09 06:46] cengiz-io opened #12 "Bootstrap script fails: "Could not find or load main class com.kodcu.boot.AppStarter""
Hi there,

Just downloaded [v1.0.10](https://github.com/rahmanusta/AsciidocFX/releases/tag/v1.0.10) zip.

`bin/asciidocfx.sh` fails with main class not found error:

[code]

Here's the command line that `exec` statement trying to execute

[code]

I suspect an incompatibility with OpenJDK / OpenJFX but the error message is very unlikely.

**FYI: I'm using OpenJDK 8b20**

Keep up the good work

Sayg

[2014-10-09 17:33] DavidGamba opened #13 "Allow passing the JAVA_HOME location as an argument"
I use java 7 and don't want to use Java 8 system wide for a while. I did the following to `asciidocfx.sh` to pass the java in the command line:

[code]

[code]

Then I ran it using: `./asciidocfx.sh ~/opt/jdk1.8.0_20/`

WDYT?

[2014-10-12 12:15] #12 closed, assigned to nobody

[2014-10-15 15:58] #9 closed, assigned to nobody

[2014-10-15 15:58] #8 closed, assigned to nobody

[2014-10-15 15:59] #13 closed, assigned to nobody

[2014-11-22 11:28] maybeec opened #16 "Mark selection on right column within asciidoc document"
Thanks for your smooth and nicely usable editor. This is a feature request for improving usability:

I would be nice to easily find the position of some text read in the right column within the asciidoc code. I could imagine to select some text in the right column or simply click at a line and on the left column I would get the text or line highlighting, which contains the asciidoc of the current

[2014-11-22 11:33] maybeec opened #17 "Support +Monospaced text+"
AsciiDoc declares the ability to declare [monospaced text](http://www.methods.co.nz/asciidoc/userguide.html#X51). The current GitHub wiki, I am editing contains a log of such entires like +text+.
Currently AsciidocFX will product `Â–0Â—` for each monospaced text entry.

[2014-11-22 11:39] maybeec opened #18 "Tracking of cursor from asciidoc to produced document jumps when navigation through code blocks"
When navigating with the cursor through a code block specified like this:

[code]

The pre-processed document on the right seems to jump between arbitrary chapters :)

[2014-11-22 11:48] maybeec opened #19 "Position tracking should depend on cursors position"
I currently observe some inconsistent behavior when scrolling through the ascii document vs. selecting text in the document.

First, will result in a nearly equivalent scrolling on the pre-processed document side, which is good.
Second, will result in scrolling the pre-processed document to the paragraph of the selected text. Nevertheless, it will not be scrolled equivalently to the position of th

[2014-11-23 17:58] #17 closed, assigned to rahmanusta

[2014-11-24 18:40] ozlerhakan opened #21 "IOException: Cannot run program "kindlegen""
Here is the dump message when I attempt to create a .mobi file:

https://dl.dropboxusercontent.com/u/15056258/dump.txt

[2014-11-26 04:43] rajmahendra opened #23 "Filter treeview with list only asciidoc files."
In the left side column treeview it display all files and folders.
Though AsciidocFX supports only asciidoc files its good to filter only asciidoc extension files.

This will reduce the big list of unwanted files.

[2014-11-26 04:47] rajmahendra opened #24 "Code snippet tool"
Like table generator we can have code snippet/palette tool (may be) under the folder list.

This will list many code snippet generator  to help newbie to easy insert Asciidoc code

[2014-11-26 04:53] rajmahendra opened #25 "Community Group"
Create a group for the community to discuss new ideas etc before creating issue/features.

Like
asciidocfx-dev - for core developers/contributors
asciidocfx-users  - for end user related discussions.

[2014-11-26 16:18] #25 closed, assigned to nobody

[2014-11-26 16:18] #21 closed, assigned to nobody

[2014-11-27 15:49] rajmahendra opened #26 "Project creation support for Slides and other"
This can be use as a group of enhancement for basic support for

* Create/open project for Asciidoc based Slide supports like dzslides,revealjs etc

[2014-11-28 15:53] rajmahendra opened #27 "JNLP Launch"
Other than Zip bin support we can have a JNLP link in the website so anyone who like to install can do on-line. No need to configure the zip file or build from core.

[2014-11-29 12:50] #27 closed, assigned to nobody

[2014-11-29 12:58] rajmahendra opened #29 "Project support for JBake"
[JBake](http://jbake.org)  is "Jekyll of the JVM" it also supports Asciidoc files support. If we can some how create project structure through AsciidocFX than many it help people to create static website throught the application.

If internally generate the website and who the full website in the preview.

(this issue may be out of scope but still we can make it a "help wanted" tag)

[2014-11-29 13:40] rajmahendra opened #30 "AsciidocFX Github Org"
Look like AsciidocFX having more use-case and making it more support into it.

A suggestion to move from a individual repo to a Organisation in Github.

[2014-11-30 10:08] #30 closed, assigned to nobody

[2014-12-01 00:08] #24 closed, assigned to nobody

[2014-12-17 09:44] lefou opened #33 "Cannot open files"
Neither double clicking nor selecting "Open" from the context menu of the file browser (left tree viewer) opens the file in the editor area.

Current master branch.

[2014-12-17 12:32] #33 closed, assigned to nobody

[2014-12-17 13:56] #23 closed, assigned to nobody

[2014-12-18 13:21] lefou opened #35 "Add a Changelog to releases"
Would really be great! For every piece of software, actually.

[2014-12-20 17:48] #18 closed, assigned to nobody

[2014-12-20 17:48] #19 closed, assigned to nobody

[2015-01-02 12:13] russel opened #36 "Can asciidocfx obey GNOME3 styles?"
AsciiDocFX master builds fine for me and I can do an installation from the created zip. However the application runs black on white, which is no good for me, I need light on dark. Is there a way of getting the application to obey the GNOME3 global dark theme, or perhaps have a light on dark style as IntelliJ IDEA, NetBeans, PyCharm, and Android Studio do?

[2015-01-02 21:53] rahmanusta commented on #36
Hi. Unfortunately JavaFX doesnt support using native ui components. But, we can style the components with CSS. I did a POC for dark theme. How is it looks like?

![poc-asciidoc-dark](https://cloud.githubusercontent.com/assets/1158804/5600016/6cbe65bc-92da-11e4-9f60-41f0364674d7.png)

[2015-01-03 12:03] russel commented on #36
That certainly would go a very long way towards making it usable for me: with only the rendering dark on white, I could certainly give this a whirl for the GPars, GroovyFX, and Gant documentation!

[2015-01-03 19:55] rahmanusta commented on #36
I think dark theme for asciidocfx will be good. If you try to develop or find something, please inform us. Thanks.

[2015-01-04 11:16] gernotstarke opened #37 "Cmd-S (save) keyboard command does not work (on Mac OS)"
on Mac OS, the standard keyboard shortcut to save files is Cmd-s.

Too bad AsciidocFX does not handle that - so I am forced to use the mouse to save a modified file.

[2015-01-04 12:10] rahmanusta commented on #37
Hi Dr.

I've updated the accelarators to work with Ctrl in Windows and Cmd in Mac. Can you try Cmd-s with latest v1.2.9 build?

[2015-01-04 13:50] gernotstarke commented on #37
closed with version 1.2.9, 20mins after filing the bug... that's what I call top-level-support...

awesome, thanx.
(btw - I'm currently writing some asciidoctor stuff - please expect some more issue-reports...)

[2015-01-04 13:50] #37 closed

[2015-01-04 13:52] gernotstarke opened #38 "Strange sort-order in file-tree..."
first the UPPERCASE files, alpha-sorted...
then the lowercase files, alpha-sorted...

no real problem, but strange :-)

[2015-01-05 11:58] rahmanusta commented on #38
Hmm :) Which behaviour do you want Dr. :) ?

[2015-01-05 13:13] gernotstarke commented on #38
strictly alpha, regardless of upper- or lowercase, as depicted in the screenshot...
(which I took on my Mac)
![_users_gstarke](https://cloud.githubusercontent.com/assets/1233990/5613427/5ea44850-94e4-11e4-87ed-35593418d865.jpg)

thanx!

[2015-01-05 13:21] gernotstarke opened #39 "create "real" MacOS Application"
Currently I have to start AsciidocFX from the command line...
fine for me, but if you want to increase your userbase, a "real" app
would be nicer, imho.

You could use the following maven plugin:
http://mojo.codehaus.org/osxappbundle-maven-plugin/

Or have a look at the Griffon-framework, they can create multiple different
target formats (windows, mac, linux) via Gradle plugins...

(thx and sorry,

[2015-01-05 16:46] rahmanusta commented on #39
Thanks Dr. I was thinking it. I tried install4j to produce multiplatform installer. Its goog working. It is free for open-source projects. Now, im waiting licence keys, after i will integrate it to asciidocfx project.

[2015-01-06 08:52] russel opened #40 "No zip file built now to have an installable system"
WIth the change from 1.2 to 1.3, the zip that was the installable system is no longer created. The README however doesn't give an altered installation procedure. Is there a new install process?

[2015-01-06 08:58] rahmanusta commented on #40
Hi russel. We are working on build native installers for operating systems. .zip distribution will be released also. 1.3 is not released yet.

[2015-01-06 09:26] russel commented on #40
So what is the official way of using master/head as an alpha tester?

[2015-01-06 14:51] rahmanusta commented on #40
We've released 1.3.0 build with native support for OSes. Integration to install4j seems like completed. I will update the .

[2015-01-06 15:06] rahmanusta commented on #39
Can you try it Dr. ?

[2015-01-06 15:07] gernotstarke commented on #39
only if you skip the Dr. and begin calling me Gernot :-)

yes - will try, maybe not today...

[2015-01-06 15:10] rahmanusta commented on #39
Hehe :) Ok Gernot, thanks.

[2015-01-06 15:14] gernotstarke commented on #39
"mvn clean install" after checking out upstream-commit 5e905c8...:

does NOT build any dmg or app... or am I missing the right maven goal?

[2015-01-06 15:26] rahmanusta commented on #39
For built we are using Travis CI, you can see the build flow  [travis.yml](https://github.com/asciidocfx/AsciidocFX/blob/master/.travis.yml) in project. Build produced from install4j, if you want to build native installers on your local, you need to install it.

After run the ```mvn clean install -Pinstall-runtime``` . Before run it, you need to provide install4j home to ```install4j.home``` in po

[2015-01-06 15:27] rahmanusta commented on #39
You can download the release from https://github.com/asciidocfx/AsciidocFX/releases

[2015-01-06 15:34] gernotstarke commented on #39
whow - awesome (apart from now becoming 200MB "fat"... which really doesn't matter these days)

the installer works like a charm - and creates an app with a logo (that was missing in 1.2.9...)
THANX!

![_applications](https://cloud.githubusercontent.com/assets/1233990/5630843/b30f2332-95c1-11e4-98ec-9dd6a0a599db.jpg)
![_volumes_asciidocfx](https://cloud.githubusercontent.com/assets/1233990/5630846

[2015-01-06 15:34] #39 closed

[2015-01-06 15:37] rahmanusta commented on #39
Thanks Gernot :)

[2015-01-06 21:12] rahmanusta commented on #39
If you have java 8 already installed. You can remove the jre lib in installed app. i will decrease size. FYI.

[2015-01-07 11:33] lefou commented on #38
I guess, the "expected" behaviour depends on the platform you are using. Under Linux, it is very common to have all uppercases sorted before the lowercase letters.

[2015-01-12 10:02] lefou commented on #35
Any decission since then? Lots up releases lately but no hints what changed (beside the git).

[2015-01-14 13:20] ozlerhakan commented on #35
Hi @lefou ,

Thanks for the reminder us of that, we will strictly apply the changelog approach as of the next release. (perhaps, we may mention the preceding changes as well)

[2015-01-14 13:35] lefou commented on #35
Great! Much appreciated.

[2015-01-19 12:13] rahmanusta commented on #40
Hi @russel , Can i close this issue ? Have you any question?

[2015-01-20 17:41] gilbertoca opened #42 "Add basic filesystem functionality"
button_go_up
button_refresh
button_go_home
button_go_current_path

![geanytreebrowser](https://cloud.githubusercontent.com/assets/3083703/5822372/41610fd8-a0b2-11e4-9d6d-6914da315efc.png)

[2015-01-20 20:35] lefou commented on #38
To move this forward here is a (maybe controversial) suggestion. Always sort alphanumerically, but case-sensitive (all uppercases before lowercases) for Linux/Unix and case-insensitive for all other platforms (Mac, Windows). Or are there Linux desktops around sorting case-insensitive?

[2015-01-21 08:29] #40 closed

[2015-01-21 08:31] rahmanusta commented on #38
Implementation is easy, but, we need to aggrement on that issue :) @lefou your suggestion is OK for me, Mr. @gernotstarke  what do you think?

[2015-01-21 08:32] rahmanusta commented on #42
Those are good functionalities. I marked this issue enhancement. It is in the queue!  Thanks.

[2015-01-21 08:38] gernotstarke commented on #38
Imho sort order needs to be platform-specific - to avoid surprises to users.

Writing from a Mac I'd like case-insensitive sort-order - and support @lefou suggestion for Linux/Unix.

[2015-01-21 08:45] ozlerhakan commented on #38
I am also OK with that, the enchancement label will be suitable now :)

[2015-01-21 08:54] russel commented on #40
I just do "mvn clean package appassembler:assemble" and run from target/appassembler. Maybe I should just switch to downloading and installing the release.

[2015-01-21 09:23] lefou opened #43 "Add tooltips to toolbar buttons"
Currently, the buttons in the toolbar of the editor windows have no tooltips. This makes it rather hard to guess what to expect from a click. At least not all icons are self-explanatory.

[2015-01-21 09:35] rahmanusta commented on #43
Thats true @lefou, im working on some ui experiments. Also, i need to say that, JavaFX's tooltip component is little problematic. It has been showing lately, and showing time is not configurable by now. However, we need to put tooltip to buttons.

[2015-01-21 09:38] rahmanusta commented on #40
You can use mvn clean install to build project in old way. In new style, we integrated Asciidocfx with install4j plugin. It builds AsciidocFX for platforms seperately. Both of ways OK. In new style, there is autoupdate feature also and JRE comes with out-of-box.

[2015-01-24 17:23] rahmanusta commented on #38
Should we sort files with grouped order?

For example;

Firstly, Order Asciidoc files group,
Secondly, PDF,
3. HTML ,
4. Epub,
5. Mobi,
6 ...

Or should we sort without gruoped?

@lefou @ozlerhakan @gernotstarke

[2015-01-24 17:35] gernotstarke commented on #38
alpha sorting, others would imho violate the "no-surprises" principle

Rahman Usta schrieb:

[2015-01-24 18:06] ozlerhakan commented on #38
I have checked all my directories including adoc files so, by default, in windows, one of my directories has this order already: all ( .asc), (...txt), (...pdf), (...html), (...epub), (...mobi) and (... xml) files. I liked this way if you trace files by looking their extensions but we can test this suggestion also, np.

[2015-01-24 19:40] lefou commented on #38
I'm with @gernotstarke here, no surprises, thus I'm for plain alphanumeric sorting.

Of course, you could add the sorting by extension as separate feature which must be enabled/selected explicit, e.g. via context menu. But I don't see the need. Having nice icons by filetype would be nice though.

[2015-02-02 08:51] lefou commented on #35
Since v1.3.2, you can find the changelog here: https://github.com/asciidocfx/AsciidocFX/blob/master/CHANGELOG.asc

[2015-02-02 08:51] #35 closed

[2015-02-02 09:28] rahmanusta commented on #43
Do you think it is OK @lefou Tobias?

[2015-02-02 09:29] rahmanusta commented on #42
Do you think it is OK @gilbertoca ?

[2015-02-02 09:30] rahmanusta commented on #38
Do you think it is OK @lefou @gernotstarke

[2015-02-02 09:33] gernotstarke commented on #38
+1, thx

[2015-02-02 09:35] lefou commented on #29
Creating the initial file layout for a new JBake project is already very simple, just run `jbake -i` and you already have a starting point. Also, many JBake users use JBake through a build tool like Maven or Gradle.

I one uses AsciiDoc files with JBake, you can already edit them with AsciidocFX. So what is needed in this ticket to make sense are some concrete idea/wishes how both projects could i

[2015-02-02 11:09] rajmahendra commented on #29
@lefou Ya i can understand your point my idea is if AFX can have project creation and running jbake project internally (As AFX having internal server) it can help any JBake+Asciidoc project into AFX.  Ya the rendering idea also can be implement internally to show full page update internally it also helps both project exist side by side ! This also gives way to use any other tool which uses asciido

[2015-02-02 11:18] gilbertoca commented on #42
I will try.
Why the latest releases are so big?

[2015-02-02 11:39] gilbertoca commented on #42
While trying the new functionality I clicked on the left arrow in the toolbar and it disappears. How can I restore it? I didn't find any reference to it in the site.

[2015-02-02 12:03] rahmanusta commented on #42
Latest release includes jre.  You can restore it by double clicking any Tab.

[2015-02-02 12:22] gilbertoca commented on #42
What about putting it in the tab's right menu as well?
![asciidocfx-restore-toolbar](https://cloud.githubusercontent.com/assets/3083703/6000365/bbe9b260-aabb-11e4-9e8a-0e897c221c67.png)

Other thing, the Change WorkDir refers to the active open file. We can open some files (all of them in different folders) and switch between workdir with this option. The refresh option refers to active open WorkD

[2015-02-02 16:21] rahmanusta commented on #42
Ah sorry, i undestood refresh differently. You can use Go to Workdir menuitem to change workdir.

[2015-02-02 20:06] gilbertoca commented on #42
You wanted to say Change WorkDir:
![asciidocfx-change-workdir](https://cloud.githubusercontent.com/assets/3083703/6007929/857fa2f2-aafc-11e4-8341-ee6c1fa3ff85.png)

But it lost his purpose when you impose the user to navigate again in a open dialog - but he is already navigating using the tree in the toolbar.
That's the point when I said that the Change WorkDir refers to the active open file.

[2015-02-02 20:15] rahmanusta commented on #42
I mean this;

![image](https://cloud.githubusercontent.com/assets/1158804/6008263/edd81cf4-ab28-11e4-9683-6c2e473ef30d.png)

[2015-02-03 09:39] lefou commented on #43
Latest release (v1.3.2) has tooltip, great. Thanks!

[2015-02-03 09:39] #43 closed

[2015-02-03 09:45] rahmanusta commented on #42
I've changed refresh button behaviour like you mention also. Is it OK for you?

[2015-02-03 13:06] gilbertoca commented on #42
Yes! Many thanks for such useful tool.

[2015-02-03 22:54] #38 closed

[2015-02-05 09:05] bblonski opened #49 "Can't Generate PDF with windows restricted filename characters in title"
AsciidocFX silently fails to generate a PDF document on windows if I have the colon `:` character in the title of the document.  Windows does not allow the `:` character in file names, so a substitution or error message would be expected. Log file has the following stack trace.

[code]

[2015-02-05 09:14] rahmanusta commented on #49
It is not about filename issue, Asciidoctor.js doesnt like : character in title unfortunately. So, remove it or open an issue on https://github.com/asciidoctor/asciidoctor.js

[2015-02-05 22:27] rahmanusta commented on #36
I'm closing it for now. If necessary, we can open it again. Thanks.

[2015-02-05 22:27] #36 closed

[2015-02-07 03:58] bblonski commented on #49
Tried this in asciidoctor.js and it works fine.  It also works in the live preview and when exporting to html.  It seems to mainly affect PDF generation.  Docbook generation creates an empty file.  I think maybe it's a bug in the Apache FOP integration?  At the very least it should handle the exception gracefully instead of silently failing.  Can you take another look at it?

[2015-02-08 06:28] rahmanusta commented on #49
I will look it again

[2015-02-08 20:11] rahmanusta commented on #49
@bblonski can you try to generate docbook with asciidoctor.js ?

[2015-02-17 06:56] sm0svx opened #50 "Mac binaries in Linux archive"
It seems like the release archives for Linux contain Mac binaries.
[code]
Something wrong with the build?

[2015-02-17 06:59] rahmanusta commented on #50
install4j makes it so. Is it not working?

[2015-02-17 09:49] rahmanusta commented on #49
Any good news? @bblonski

[2015-02-17 18:45] #49 closed

[2015-02-17 19:35] sm0svx commented on #50
No, it is not possible to run Mac binaries on Linux:
[code]
If I install Java 8 I get further
[code]
But not very far:
[code]
The stack trace is displayed in a dialog that appear immediately after starting the application using:
[code]
The tool looks great so it would be cool to get it running :-)

[2015-02-17 20:15] rahmanusta commented on #50
@sm0svx  I will try it on my ubuntu.

It seems that you didnt install JavaFX to OpenJDK. Install it or you can easily install Oracle JDK.

[2015-02-17 21:02] rahmanusta commented on #50
I tried bundled JRE release on Debian x64. It seems working. Did you try bundled release?

[2015-02-17 21:16] sm0svx commented on #50
Aha, I thought everything was included in the tar archive, including JavaFX. Isn't the point of the bundled archive that nothing extra need to be installed?  I used this package:

https://github.com/asciidocfx/AsciidocFX/releases/download/v1.3.2/AsciidocFX_Linux.tar.gz

When you tested on Ubuntu, are you sure you are not using a JRE 8 already present on the system instead of the bundled one?  I'm

[2015-02-17 21:21] rahmanusta commented on #50
Yes i have no JRE 8 installed in my system. I tried your installed bundle release. But, i want to be sure for this issue. @lefou is https://github.com/asciidocfx/AsciidocFX/releases/download/v1.3.2/AsciidocFX_Linux.tar.gz working on your linux system?

[2015-02-17 21:32] sm0svx commented on #50
Now it started up just fine after installing Oracle JRE. Now off to testing it!

So, typing "java -version" just give you a "command not found" error?
Sorry, just asking to be really sure :-)

Well, I guess it would be possible to run Mac binaries in some way but it would probably require some emulation or something like "wine" (that run windows applications on Linux). Some more information here:

[2015-02-17 21:35] rahmanusta commented on #50
We are using install4j. It bundles JRE automatically. I dont know, there may be a software bug. But, i want to be sure.

can you try remove jre folder under AsciidocFx and use global JRE 8.

[2015-02-17 21:50] sm0svx commented on #50
It runs fine with or without the bundled jre folder if a global Oracle JRE 8 is installed.

Now using version 1.3.3 by the way.

[2015-02-17 23:34] rahmanusta commented on #50
if not working, when no JRE 8 installed ?

[2015-02-18 01:44] rahmanusta commented on #50
Yes, you have cleared the problem. I created a different JRE for Linux archieve. You can use bundle release without global JRE 8.

Thanks

[2015-02-18 16:55] rahmanusta commented on #50
Hi @sm0svx ;

If possible can you try https://github.com/asciidocfx/AsciidocFX/releases/download/v1.3.3/AsciidocFX_Linux.tar.gz without Global JRE 8 again.

THanks

[2015-02-18 17:44] bblonski commented on #49
Sorry, I forgot to get back to you.  It sounds like the asciidoctor.js devs
were able to reproduce this so it's probably on their end.

On Tue, Feb 17, 2015 at 10:45 AM, Rahman Usta <notifications@github.com>
wrote:

[2015-02-18 19:21] sm0svx commented on #50
Much better :-)

Now it run out-of-the-box! The jre executable now look much better as well:
[code]

[2015-02-18 19:27] rahmanusta commented on #50
:) Everything is Ok now ?

[2015-02-18 21:00] sm0svx commented on #50
Yep! Thanks for fixing the problem. I consider the issue closed.

[2015-02-18 22:02] rahmanusta commented on #50
Great! Thanks.

[2015-02-18 22:02] #50 closed

[2015-02-25 12:11] hohwille opened #51 "Ability to change html id anchor?"
You seem to have a buildin server (http://localhost:44299) that renders the asciidoc as html. This is very cool. However I am using github wiki infrastructure to maintain documentation and that generates anchors for sections by replacing whitespaces with a hypen while you seem to use an underscore and also add one underscore as prefix. Therefore my page-internal links are not working in your previ

[2015-02-25 12:12] hohwille commented on #51
FYI:
https://github.com/oasp/oasp-docgen/wiki
https://github.com/oasp/oasp4j/wiki
http://oasp.github.io/oasp4j/1.0.0/OASP4J.pdf

[2015-02-25 14:03] ozlerhakan commented on #51
Hi @hohwille ,

If I undestand you correctly, what you are pointing out does not related to AsciidocFX. This behavior directly relates to the way of rendering asciidoc pages. By default, each page is rendered as you explained, whereas if you make some changes in your asciidoc file like putting the following ones at the top of your doc :

[code]
, you can manipulate each anchor now. Here is the exa

[2015-02-27 11:03] rahmanusta commented on #51
Hey @hohwille . Did Hakan's answer solve your problem?

[2015-02-27 19:11] bblonski opened #52 "Prompt to save changes on exit"
I've lost work several times by forgetting to save before exiting.  It would be nice if AsciidocFX prompted to save unsaved work or at least warn when there are unsaved work before exiting.

[2015-03-03 07:57] hohwille commented on #51
@ozlerhakan: thanks for your suggestion. It almost solves my problem. Using the suggested code in every asciidoc page removes the prefix but still uses underscores instead of hyphens. And as this is not honored by github I still need a solution to make the same links work on github wiki as well as in asciidocfx.
Did I understand correctly that the rendering is actually done by product that you int

[2015-03-03 08:02] hohwille commented on #51
actually github honors some things of that and changes to links to include the section number.
So :sectanchors: actually breaks all my links as it includes the section number not only to the displayed text but also to the anchors what makes them unstable and kind of useless. Nice feature but not suitable to me.
:idprefix: helped to get rid of the prefix.

[2015-03-03 08:54] ozlerhakan commented on #51
You're welcome @hohwille , we are also learning such things about asciidoctor :)

If GitHub wiki is the case, and what I showed did not solve your problem, then try this option:
[code]
I found it in the asciidoctor repo hosted on GitHub : https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/section.rb#L87

I hope this can help your need.

[2015-03-03 13:16] hohwille commented on #51
Awesome. You are my hero! :+1:
Works like a charm.

[2015-03-03 13:16] #51 closed

[2015-03-03 13:42] hohwille commented on #51
FYI:
ifndef::env-github[:numbered:]
https://github.com/github/markup/issues/293

[2015-03-05 09:38] rahmanusta commented on #52
We are thinking to implement it in further release.

[2015-03-09 04:20] owieboy opened #53 "Can't save as PDF"
When I try to save my asciidoc as PDF I get a bunch of #########
![selection_072](https://cloud.githubusercontent.com/assets/7962021/6549907/a99a04fa-c656-11e4-8df1-dbe8d10be7a6.png)

[2015-03-09 06:25] rahmanusta commented on #53
Hi;

You need to install Microsoft core fonts package

[2015-03-09 07:23] rahmanusta commented on #53
For example for ubuntu/debian ```sudo apt-get install graphviz ttf-mscorefonts-installer```

[2015-03-09 07:41] owieboy commented on #53
That worked, thanks.

[2015-03-09 07:41] #53 closed

[2015-03-10 12:52] lefou opened #58 "Double-clicking an already opened file opens a new tab"
Opening another tab with the same file should not be the default action. Instead, the tab with the already open file should be brought to foreground.

[2015-03-12 09:42] rahmanusta commented on #58
Yep :+1:

[2015-03-18 18:40] dmd opened #60 "Bold monospace does not render."
I tried:

    This is normal text. +This is monospace. *This is bold monospace.*+

Expected result: the described results.
Actual result: All normal text, with literal asterisks around the final sentence.

 The reference 'asciidoc' renderer supports this syntax.

[2015-03-18 18:55] rahmanusta commented on #60
Please use like below;

[code]

[2015-03-18 20:43] dmd commented on #60
That syntax does not work in AsciidocFX 1.3.3. No bolding is done.

[2015-03-18 20:57] rahmanusta commented on #60
It seems like working ?

![ddddd](https://cloud.githubusercontent.com/assets/1158804/6719285/2d8fb4ae-cdc2-11e4-8251-bca1e853c6f3.png)

[2015-03-18 23:44] dmd commented on #60
![screenshot 2015-03-18 19 43 12](https://cloud.githubusercontent.com/assets/41439/6721760/1af17398-cda7-11e4-95b8-7bb00084fe73.png)

[2015-03-18 23:48] rahmanusta commented on #60
This is interesting. @ozlerhakan What do you think?

[2015-03-19 08:45] ozlerhakan commented on #60
Indeed interesting, since we know that AFX uses asciidoctor 1.5.2,  backtick is now used for monospace, not +.

we can still use + with the legacy mode like below:
![capture](https://cloud.githubusercontent.com/assets/1964927/6726807/42cfd94a-ce24-11e4-9f5f-515a14b253f6.PNG)

But, the think is that what @rahmanusta suggests does not work in your machine by default (interesting!). I do not know the

[2015-03-19 15:13] dmd commented on #60
Even compat-mode legacy doesn't work.
Note it works for me on OS X - just not on Linux.

![screenshot_1426777933](https://cloud.githubusercontent.com/assets/41439/6733502/ef467cde-ce28-11e4-8457-994072f6b186.png)

[2015-03-19 16:11] rahmanusta commented on #58
This is implemented and will be in further release

[2015-03-19 16:12] rahmanusta commented on #52
This was implemented and will be available in 1.3.4 release.

[2015-03-19 21:25] rahmanusta commented on #60
Hey @mojavelinux. What do you think for this case?

[2015-03-20 10:10] lefou commented on #58
Works like a charm. Thanks!

[2015-03-20 23:26] mojavelinux commented on #60
If it's just not working on Linux, it could be that the browser is just not displaying the bold font. The reason for that is that we are only loading Droid Sans Mono weight 400 from Google Fonts, not the bold version. The fix is to also load the bold font. I suppose we should add that to core. In the meantime, you can adjust the line that loads the fonts to include Droid Sans Mono 700.

[code]

[2015-03-20 23:30] mojavelinux commented on #60
Added upstream: https://github.com/asciidoctor/asciidoctor/commit/d5862cf8da967ea4f58924d575ce52c3250ab3d7

[2015-03-20 23:47] rahmanusta commented on #60
That can be styling issue as you said @mojavelinux . I'm seeing that Drid+Sans+Mono doesnt has 700.

https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400,700

[2015-03-22 16:47] #58 closed

[2015-03-22 16:47] #52 closed

[2015-03-23 21:08] sbaechler opened #61 "Undo not working on Mac"
Following up on a chat on Gitter.

When I press CMD-Z or CTRL-Z nothing happens. I expect the editor to undo the last action.

I'm using version 1.3.4 on a Mac, Yosemite. My Java version is 8 Update 25.

[2015-03-24 15:14] indigo423 opened #62 "Add about AsciidocFX to show version number"
It is hard to find the version number. I would make sense to add a "About AsciidocFX" in at the menu bar on MacOSX.

[2015-03-24 15:17] rahmanusta commented on #62
Yes, it is already here.

![image](https://cloud.githubusercontent.com/assets/1158804/6805046/a5d31cc2-d249-11e4-8a0a-4cc49de0a61f.png)

[2015-03-24 15:20] indigo423 commented on #62
Thx for the quick reply --> suggestion a "?" instead of "..."

[2015-03-24 17:42] rahmanusta commented on #62
I'm not sure for "?". @hakdogan what do you think?

[2015-03-24 18:23] bblonski commented on #52
Great work, but I noticed that it only works when you close a tab and not when you close the application itself.  Is there any chance you could add the same prompt when you try to close the application?

[2015-03-24 18:29] hakdogan commented on #62
I think About AsciidocFX phrase more suitable for the general use in Mac OS X @indigo423 @rahmanusta

[2015-03-24 20:02] rahmanusta commented on #52
Yes it can be. That didnt fall in my mind :)

[2015-03-24 20:04] rahmanusta commented on #62
Ah sorry :) I attached @hakdogan mistakenly :)

@ozlerhakan  What do you think for "?" instead of three dash ?

[2015-03-24 20:38] ozlerhakan commented on #62
as @hakdogan hocam mentioned, we may change the name of the "About" part to clarify about what it really is, Or we can only mention the version number as a disabled menu instead of letting users to click the About section.

About the question, I dont think that ? can point the rest of the AFX services. we can find another icon instead?

[2015-03-24 22:23] indigo423 commented on #62
Thank you guys taking this issue serious, I was not sure, maybe it's just me don't understanding the three dashes and not finding the version number :)

[2015-03-25 17:27] rahmanusta commented on #61
Hi @sbaechler . I tried some works in this https://github.com/asciidocfx/AsciidocFX/tree/ctrlyzfix branch. Can you try this ?

[2015-03-25 17:33] rahmanusta commented on #62
Thanks @indigo423 :) Maybe you can pick an icon from http://fortawesome.github.io/Font-Awesome/icons/

[2015-03-25 17:44] rahmanusta commented on #62
Thanks @indigo423 :) Maybe you can pick an icon from http://fortawesome.github.io/Font-Awesome/icons/

[2015-03-25 22:54] indigo423 commented on #62
One of the info icons could make sense: http://fortawesome.github.io/Font-Awesome/icon/info/ or http://fortawesome.github.io/Font-Awesome/icon/info-circle/

[2015-03-25 23:38] sbaechler commented on #61
Sorry, no change. Now only ctrl+y and ctrl+z work, but undo und redo are still swapped. So ctrl+y is undo and ctrl+z is redo.
The log message appears so the new code is doing something.

[2015-03-26 14:19] rahmanusta commented on #61
Thanks @sbaechler . I disabled all shortcuts except ctrl+y and ctrl+y. Can you try another fix proposal from https://github.com/asciidocfx/AsciidocFX/tree/ctrlyzfix

[2015-03-26 20:49] sbaechler commented on #61
This time, nothing works. I tried CMD and CTRL Y and Z.

[2015-03-26 21:10] rahmanusta commented on #61
Can we make a teamviewer session with you? @sbaechler

[2015-03-26 21:11] sbaechler commented on #61
It looks like this is a bug in JavaFX. Almost two years old!
http://stackoverflow.com/questions/17014175/how-to-detect-if-a-users-keyboard-is-in-azerty-in-java

[2015-03-26 21:42] rahmanusta commented on #62
They are good candidates. But this menu is not about "info" totally.

[2015-03-27 23:18] #61 closed

[2015-03-27 23:19] rahmanusta commented on #62
I will close this issue, we can chat on gitter if any extra words.

[2015-03-27 23:19] #62 closed

[2015-03-31 13:15] rmx-it opened #64 "AsciidocFX ignores comments when including files"
The following line should be ignored instead of trying to import preface.adoc:
[code]

[2015-03-31 13:24] rmx-it opened #65 "The following test.adoc produces an error"
Here an example to generate an error when producing docbook .xml or .pdf output:

[code]

As it seems the two stars in one line do trigger the problem.

The following xml code gets generated during docbook generation:
[code]
The `<emphasis role="strong">` part generates the error.

[2015-03-31 15:05] ozlerhakan commented on #65
Hi @rmx-it ,

In such cases, you need to use backslash ( '\' ) in order to solve format conflicts.

[code]

[2015-03-31 15:21] ozlerhakan commented on #64
Hi again @rmx-it ,

For now, just use a comment block which will skip the specified lines:

[code]

[2015-03-31 18:06] rmx-it commented on #65
Maybe,
but at least AsciidocFX should not silently produce no output and leave me alone searching the culprit.
But no.
Verbatim cites should exactly that - verbatime cites.
For technical documents its quite common to copy-paste code and console snipplets.
I've choosen asciidoc because until now I hat to do the least conversions/adaptions to the sources
compared to Latex, Markdown, ...

So, at leas

[2015-03-31 18:07] rmx-it commented on #64
Yes.
Thats ok.

[2015-03-31 18:40] #64 closed

[2015-04-01 07:52] ozlerhakan commented on #65
Actually, what you see in the preview section is what you get, so AFX's preview section works as a debugger as well, you normally must see the reason from that part. For example, when you type the aforementioned line what do you see in the preview? Apparently you do not see the asterisks. This also relates to users' knowledge about the asciidoctor. Here is the documentation about the usage of [bac

[2015-04-01 07:54] #65 closed

[2015-04-02 15:57] aartiPl opened #66 "Polish letters can not be inserted into editor"
AsciiDoc editor probably captures some key strokes internally, so effectively some characters can not be inserted into editor (they don't appear on screen). In my case it applies to some specific Polish letters:
ą - RightAlt + a
ę - RightAlt + e
ś - RightAlt + s
ł - RightAlt + l

It's quite critical issue as it disallows to write comfortably common texts in Polish language.

[2015-04-02 16:08] rahmanusta commented on #66
Hi @aartiPl ;

Can you try to declare shortcuts for your need like  Altgr + } in shortcuts.yml?

https://github.com/asciidocfx/AsciidocFX/blob/master/conf/shortcuts.yml

[2015-04-02 17:20] ruckc opened #67 "Custom Stylesheet/Icons"
It would be nice to support custom stylesheet/icons for the preview/browser view modes.

[2015-04-02 18:09] rahmanusta commented on #67
I think so. So what about icons? Which icons?

[2015-04-02 18:58] ruckc commented on #67
The Admonitions primarily, there seem to be various sets of Admonitions.

Also changing colors of headers and so forth.

On 2015-04-02 14:09, Rahman Usta wrote:

[2015-04-02 21:10] aartiPl commented on #66
Unfortunately when I define shortcuts like below:
  Ctrl-Alt-e: 'ę'
  Ctrl-Alt-a: 'ą'

I get wrong input in editor:
Ä™
Ä…
respectively...

The case is that these shortcuts are standard shortcuts for Polish letters. While it might be ok for temporary solution, I think it is not acceptable as a long term solution. I don't have to do it for any other editor - they are defined by default Polish keyboa

[2015-04-03 00:04] rahmanusta commented on #66
I fixed wrong input problem, and it will available in new release.

Unfortunately JavaFx supports only qwerty layout for now. There can be possible keyboard issues. But shortcuts.yml may help us in generally.

We saw arrow problem when typing [] and left arrow. That is weird, i will debug it.

Thanks for your good opinions.

[2015-04-03 20:06] rahmanusta commented on #66
Hey @aartiPl , Can you try latest version 1.3.6 ?

I updated ace editor version, and maybe it works without shortcut.yml changes. If it not works again, try shortcuts.yml. I fixxed the character issue. You can declare your shortcuts like below;

[code]

[2015-04-04 20:42] rahmanusta commented on #66
Hi @aartiPl . Did you try it=?

[2015-04-05 09:15] #66 closed

[2015-04-06 00:36] ruckc opened #68 "Spell Checker Integration"
It would be a nice to have for spell checking integration, such as [jortho](http://jortho.sourceforge.net/), [JLanguageTool](http://www.languagetool.org/usage/), [jazzy](http://jazzy.sourceforge.net/), [Suggestor](http://www.softcorporation.com/products/spellcheck/index.html), or [JaSpell](http://jaspell.sourceforge.net/).

[2015-04-06 06:50] rahmanusta commented on #68
Yes, we have a branch for that. https://github.com/asciidocfx/AsciidocFX/tree/spellchecker

[2015-04-07 20:25] engineerchef opened #69 "Program doesn't kill - (Windows 7 64 Bit)"

[2015-04-08 12:50] rahmanusta commented on #69
We investigated that, installer must get write privigiles to installation directory. The bugfix will be available in further release.

[2015-04-08 14:18] fbruch opened #70 "Support for custom paths for embedded images"
Using the Maven Plugin I have configured the `imagesdir` property and omitted this image root directory in my document's image-tags.

I won't ask you to parse a `pom.xml` or such but maybe you have an idea on where to put properties like this for a certain project or how to support this use case, otherwise.

Thanks for a great editor for a great markup language!

[2015-04-08 17:37] rahmanusta commented on #70
Thanks @fbruch . I didnt understand your case. Can you give an example for that?

Thanks

[2015-04-09 06:37] fbruch commented on #70
Of course, sorry, I was a little tightlipped about my use case. I have a bunch of asciidoc-files in my project which is built using Maven. The pom.xml contains the following configuration for asciidoctor:

			<plugin>
					<groupId>org.asciidoctor</groupId>
					<artifactId>asciidoctor-maven-plugin</artifactId>
					<version>1.5.2</version>
					<dependencies>
						<dependency>
							<groupId>or

[2015-04-09 17:00] ellipticview opened #71 "Windows installer does not remove old files"
Downloaded the windows.exe, version 1.3.6
Invoking the .exe file from the start menu leads to a process starting and just sitting there. No screen visible, no CPU usage.
Invoked bin/asciidocfx.bat from the command prompt. This results in the following:
[code]

[2015-04-09 18:15] ellipticview commented on #71
Start a command prompt as administrator, and then running the batch file does give a different result as far as logging is concerned. But still no editor starts.
[code]

[2015-04-09 19:20] rahmanusta commented on #71
We are using undertow instead of embedded tomcat.

When look at ClassCastException: org.apache.tomcat.websocket.WsWebSocketContainer cannot be cast to io.undertow.websockets.jsr.ServerWebSocketContainer,

There is a tomcat dependency in your classpath. It firstly loaded before undertow websocket dependency and it crashes. Can you check lib folder and clear CLASSPATH environment variable ?

[2015-04-09 21:13] ellipticview commented on #71
I'm not sure what you mean.
[code]

So the installer put these tomcat files here. The classpath is set in asciidocfx.bat

[2015-04-09 21:17] rahmanusta commented on #71
As you see above, that files year is 2014. AsciidocFX 1.3.6 released at 2015. Please delete AsciidocFX folder and make fresh install.

[2015-04-09 22:46] checketts opened #72 "Allow serving up *.mp4 files"
Including a video ie  `video::myvid.mp4[]` fails. I believe the Spring MVC needs to be updated.

Ideally I'd like to put videos in a subdirectory as well.

[2015-04-10 21:08] rahmanusta commented on #72
This feature implemented and will be available in further release. Also, I want to say that, JavaFX webview has a limitation to show videos. It supports only, flv videos. But, there is no limitation with external browser.

[2015-04-10 21:08] rahmanusta commented on #71
Did it solved your problem?

[2015-04-10 21:09] rahmanusta commented on #70
Not in pom.xml but in config.yml, we can declare global imagesdir directory. This feature will be available in further release.

[2015-04-10 21:09] rahmanusta commented on #26
We are working on that.

[2015-04-10 23:51] checketts commented on #72
It appears to be supported in Java 8. https://docs.oracle.com/javase/8/javafx/api/javafx/scene/media/package-summary.html Or is that list different than what the webview supports?

Also where are the build instructions? I'm interested in trying it out, as well as learning from the code when running it locally.

[2015-04-11 07:10] ellipticview commented on #71
Deleting the folder and reinstalling solved the problem.
Suggest to have the installer clean the directory before installing new files.

[2015-04-11 07:17] rahmanusta commented on #71
Great! Installer cleans old installation,  but bundled exe is not

[2015-04-12 13:02] genova88 opened #73 "Word Counter."
Yazılımın alt tarafına kelime sayısı ve karakter sayısı paneli gelirse çok daha faydalı olacaktır. Örnek olarak bu sitedeki sağ paneli verebiliriz. http://www.wordcounter.net/ Tabi bu yazılımda Word gibi altta ufacık yazması yeterlidir.

[2015-04-12 13:05] rahmanusta commented on #73
This feature will be available in further release

[2015-04-12 13:24] genova88 commented on #73
Thanks :+1:

[2015-04-13 15:55] rahmanusta commented on #72
@checketts media component is different than webview. webview is another story.

[2015-04-15 18:52] fbruch commented on #70
Good News, thank you.

[2015-04-21 08:53] cosyman opened #75 "install4j.i4jruntime cann't be found"
Maven cann't find install4j.i4jruntime artifact in maven repo <http://search.maven.org/>

[2015-04-21 12:26] mhautman opened #76 "Replace functionality"
Hi guys,

I saw I can search text with ctrl+f but I don't seem to find any info about a "Replace" functionality.

Can you tell me which shortcut this is and if there is none, open a feature request?

Regards,
Morgan

[2015-04-21 14:55] rahmanusta commented on #75
Hello, it is in asciidocfx.com repo

[2015-04-21 14:57] rahmanusta commented on #76
Did you try ctrl-h ?

https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts

[2015-04-21 15:46] mhautman commented on #76
Ok so ctrl-f and afterwards ctrl-h, Thanks you're doing a grate job! :)

[2015-04-21 15:46] #76 closed

[2015-04-21 19:55] rahmanusta commented on #76
Thank you so much @mhautman :)

[2015-04-22 05:02] cosyman commented on #75
I‘m sorry foy my lack of research,my maven mirror of * cause this problem

[2015-04-22 05:02] #75 closed

[2015-04-22 05:06] rahmanusta commented on #75
No problem.

[2015-04-26 11:41] yfain opened #77 "PDF generation creates footnotes from hyperlinks"
During PDF generation all hyprlinks from the text (e.g. http://www.google.com[Google]) are added as footnotes. This should not be happening.

[2015-04-26 11:44] yfain opened #78 "The tooltip Open File should be Open Directory"
When I clicked on Open File icon on the toolbar and found my directory, all file names were grayed out. Then I realized that this menu actually allows opening a directory, not a file. The wording in the tooltip should be changed to Open Directory.

[2015-04-26 11:48] yfain opened #79 "Kindlegen is required"
Tried to save the file in the Mobi format, but got a window asking to specify the location of kindlegen executable. Please add a section in AsciidocFX documentation explaining that for generating Mobi the user should install kindlegen from http://www.amazon.com/gp/feature.html?docId=1000765211.

[2015-04-26 12:37] rahmanusta commented on #77
This is default behaviour. You are free to change docbook configurations in /conf folder

[2015-04-26 12:38] rahmanusta commented on #79
That is great suggestion. Thanks!

Can you make a pull request for this update?

Thanks.

[2015-04-26 12:42] yfain commented on #77
Never saw this before. Neither ascidoc-pdf, nor the Mobi or ePub generators  generate footnotes from links

[2015-04-26 12:52] rahmanusta commented on #77
We migrated PDF module from https://github.com/asciidoctor/asciidoctor-fopub. I think this is a choice. You can change docbook PDF generation configurations as you need. Of course, you can make a pull request for that also. We are ready to think changing default behaviours.

[2015-04-26 12:53] rahmanusta commented on #78
Hello;

Open file button open single or multiple files. I didnt understand your suggestion. Can you explain it with some graphics? Thanks.

[2015-04-26 13:01] yfain commented on #78
After installing AsciidocFX, the tooltip reads "Open File", but it doesn't allow selecting a file - only a directory. When you already have some directory open, the tooltip properly reads "Change Workdir".
To avoid confusion for the new users, the tooltip should always read "Change Workdir".

[2015-04-26 14:39] yfain opened #80 "Copy HTML doesn't work"
Right-clicked in the HTML view and selected Copy Html menu. It doesn't work. The Copy Text menu doesn't work either.

[2015-04-26 14:44] yfain opened #81 "The :imagesdir: directive is not supported"
I have an asciidoc document with images located in a subdirectory images, where all images are stored. It seems that AsciidocFX doesn't support the directive  :imagesdir: and shows broken links in place of images. Here's a fragment of my document (the image fig_1_01.png is not dislayed):

:imagesdir: ./

== Chapter 1. Writing Your First Program

Some text goes here

=== Installing Java on Your Com

[2015-04-26 15:27] ozlerhakan commented on #81
Hi,

Here are the cases that shows how imagesdir works with the mentioned image dirs:

[code]
or you could use as follows:

[code]

or

[code]

[2015-04-26 15:35] yfain commented on #81
Thank you!

:imagesdir: . fixed the issue in my file.

[2015-04-26 15:35] #81 closed

[2015-04-26 15:37] ozlerhakan commented on #80
Sorry but I miss one point, did you select an area (text area) before doing these 2 behaviours? Also as far as I know, after doing the "copy html", you should paste the copied content into a Word-like documents.

[2015-04-26 15:40] yfain commented on #80
I tried with and without selecting HTML in the right panel. Then tried to paste into various text editors - nothing happened. I'm using Mac OS.

[2015-04-26 15:45] ozlerhakan commented on #80
Hmm maybe there is an issue on Mac OS systems, but I have one more question, did you try to past it into a libreoffice or an openoffice document?

[2015-04-26 15:53] yfain commented on #80
I selected all text in the right panel and then the menu Copy Html, and then pasted it into MS Word. This time it pasted the text, but not html.

[2015-04-26 16:25] ozlerhakan commented on #80
seems like it is working as expected, this is an eligible option for word-like documents, but to be clear I need to call @rahmanusta .

[2015-04-26 19:17] rahmanusta commented on #80
I know there is a naming difficuilties; @ozlerhakan @yfain

* Copy HTML
 * Copies styled html content (Meaningful for word,openoffice, google drive e.g.)
* Copy Text
 * Copies unstyled text content
* Copy Source
 * Copies content plain Html

If you suggest us for naming, we can change it :)

[2015-04-26 19:19] rahmanusta commented on #78
Can share us screenshots, I didnt understend your meant.

[2015-04-27 13:17] yfain opened #82 "The include directive is not supported"
I have an asciidoc file that consists of include directives. Tried to generate PDF, MOBI, and EPUB from this file, but none of these work. AsciidocFX shows the moving progress bar, but it doesn't create output files. No error message either.

Tried to generate PDF from the same file using asciidoctor-pdf, and it worked. This is the content of my asciidoc file (the total number of the pages in the

[2015-04-27 13:36] ozlerhakan commented on #82
You need to specify your content type whether it is a book or an article using :doctype: property at least in the parent file. In your case, I think, this
[code]
should work.

[2015-04-27 15:12] yfain commented on #82
Adding :doctype: book didn't help.

[2015-04-27 15:25] yfain commented on #82
I took the book by Rahman Usta at https://github.com/rahmanusta/java8-ebook and AsciidocFX generated the PDF from the sources. It uses includes.  Then I copy pasted the header from that book into mine, and it still didn't do any PDF generation.
Rahman Usta <rahmanusta@kodcu.com>
:email: rahmanusta@kodcu.com
:revdate: 12-10-2014
:doctype: book
:encoding: utf-8
:lang: tr
:toc:
:numbered:include::toc

[2015-04-27 15:31] ozlerhakan commented on #82
A log file located under the /AsciidocFX/log directory may help us to figure out the issue

[2015-04-27 15:34] yfain commented on #82
Here's my log file.

Warning: Could not get charToByteConverterClass!
215734 [pool-2-thread-13] ERROR o.apache.fop.fonts.truetype.TTFFile - Unsupported TrueType font: No Unicode or Symbol cmap table not present. Aborting
215759 [pool-2-thread-13] ERROR o.apache.fop.fonts.truetype.TTFFile - Unsupported TrueType font: No Unicode or Symbol cmap table not present. Aborting
215761 [pool-2-thread-13] ER

[2015-04-27 15:38] rahmanusta commented on #82
Does my book produced pdf without any modification?

[2015-04-27 15:40] yfain commented on #82
Yes, your book is generated just fine. I've removed the log abd tried just one operation PDF Save As.  This is what I got:

[Fatal Error] :374:64: The element type "emphasis" must be terminated by the matching end-tag "</emphasis>".
org.xml.sax.SAXParseException; lineNumber: 374; columnNumber: 64; The element type "emphasis" must be terminated by the matching end-tag "</emphasis>".
	at com.sun.org

[2015-04-27 15:45] rahmanusta commented on #82
It is about your asciidoc content. Can you share us a demo that is not working? We can find reason of it.

[2015-04-27 15:53] yfain commented on #82
Shure, I'd appreciate it. Here's my book:
https://github.com/yfain/Java4Kids

The main file is thewholebook.adoc

I really like what you guys are doing with AsciidocFX. Ran into it yesterday and started to play with it.

[2015-04-27 17:19] ozlerhakan commented on #82
You can actually convert each asciidoc document one-by-one, I found that the error happens in the chapter 2 on line 86. Here is the hotfix:
[code]
should be:
[code]
In the chapter 3, it should be again like this:
[code]
The same issue occurs in the chapter 4 as well.
In the chapter 8, you need to change the format of the paragrapgh as follows:
[code]

[2015-04-27 17:19] rahmanusta commented on #82
Thanks @yfain . Your feedbacks are great!

I made a pull request for your Java4Kids book.

[2015-04-27 17:41] yfain commented on #82
Thank you, guys for fixing my markups!  The PDF is generated successfully. As a matter of fact, it's better than I expected, because it properly generated the callouts from the code samples (asciidoctor-pdf doesn't support it yet).

I'm planning to generate PDF, EPUB, and MOBI and add it to my book's site: http://yfain.github.io/Java4Kids

[2015-04-27 17:47] rahmanusta commented on #82
Thanks @yfain for such a great book "Java4Kids". Using AsciidocFX for your book is honor for us. We are happy to help you.

[2015-04-27 18:05] yfain opened #83 "Error reporting"
AsciidocFX is a GUI tool, and it would be nice if error reporting would be more user-friendly. For example, exceptions that are happening shouldn't be quietly logged into the log file, but the user should see that the error has occurred with a short message from Exception.getMessage().

The same applies to the information messages. For example, when I started the PDF generation of the 250 page doc

[2015-04-28 06:15] arngrimur commented on #67
In asciidoctor it apears to be  possible to add custom css by adding a tag in header of document like
= My First Experience with the Dangers of Documentation
:stylesheet: mystyles.css

see http://asciidoctor.org/docs/user-manual/#styling-the-html-with-css

A similar solution would be nice

[2015-04-28 06:44] rahmanusta commented on #67
:stylesheet: mystyles.css
:stylesdir:

It already supports. Try like above.

[2015-04-28 08:44] shawngiese commented on #68
How is it integrated? I did not see anything in the changelog or readme file about spell checking. Also for consideration might be "After the Deadline". This solution as well as Language Tool allows you to make your own style rules (in-house writing guidelines) as well as check spelling and grammar.

[2015-04-28 09:31] arngrimur commented on #67
Hi!
Thanks for the answer but I can not make that work . Probably I'm doing
something wrong. My code is

file.adoc
________________________

= Proposal for a domain driven design architecture for borgen-appnode.
:stylesheet: styles.css
:stylesdir:

[apa]#Fooooo#

styles.css
______________________

.apa{
    color:red;
}

Folder content
.
├── file.adoc
└── styles.css

I might be doing something wro

[2015-04-28 10:24] rahmanusta commented on #68
We are thinking to finalize this feature, but there is much more feature that will be finalized. This branch  is just POC for spellchecking feature. We will implement it, but when, I dont know.

[2015-04-28 15:51] rahmanusta commented on #83
Yes, we are thinking to add a messagebox for error/info showing. Also, a XML validator for converted docbook content. This suggestion will increase comfort of users.

Thanks for great suggestions.

[2015-04-28 15:53] rahmanusta commented on #67
Hi, stylesheet is changable for producing HTML output. Embedded preview is not supporting changing stylesheet yet.

[2015-04-28 15:57] yfain commented on #83
I'd avoid using message boxes - any popups require the user to do an extra click to close it.

[2015-04-28 16:00] rahmanusta commented on #83
That is sure. What is your suggestion? How can we do that more user friendly?
Thanks.

[2015-04-28 16:11] yfain commented on #83
I'd add an invisible Label  component at the bottom of the window. If there are no errors, the user won't see it. In case of an error make it visible with the error message.  For the informational messages (e.g. the PDF generation is completed) you could do the same + transitions so the message may fade away.

Writing the logs with errors is also useful, but I'd save the log file in the working di

[2015-04-28 16:27] rahmanusta commented on #83
Thanks @yfain . We will find the best way of it. @ozlerhakan what do you think to present info and errors in AFX?

[2015-04-28 16:58] ozlerhakan commented on #83
Well, we actually decided to use this progress bar, whereas it does not convey the right sense when things still progress more than 20 sec, I think we need to find another option for the progression. :/

About the error reporting, I come up with several ideas but I don't know which one is good

* Another dialog for exceptions as you already did for the shortcut services
* Creating a log file into

[2015-04-29 05:35] arngrimur commented on #67
Hi and thanks for the information!

Now I understand, I have to save the output as html in order to get it
working. Clicking on the Browser button in the preview does not do the
trick. The css is not included but the outputted html from AscidocFX is
correct .

Kind regards
Arngrimur Bjarnason

//arngrimur

On Tue, Apr 28, 2015 at 5:53 PM, Rahman Usta <notifications@github.com>
wrote:

[2015-04-29 10:27] rahmanusta commented on #67
You are welcome @arngrimur

[2015-05-08 12:36] cchet opened #84 "Are exerpts of source files supported?"
I try to include source files and especially exerpts of them but it seems it is not possible.
The includes only work in pdf export and here i see the whole source file and not the exerpts of them.

Do I make somethiong wrong ?
Is it supported by this tool ?

[2015-05-10 04:12] CoolBalance opened #85 "allow asciidoctor-diagram compatible syntax for uml blocks"
Currently AsciidocFX and asciidoctor-diagram use different syntax to introduce a plantuml block. It would be useful if AsciidocFX could handle the asciidoctor-diagram syntax for use-cases where AsciidocFX is used as the editor for creating documents and the output formats are created using a build process (ie Maven).
AsciidocFX syntax is [uml,"file=filename.ext"] where ext might be"png" etc.
ascii

[2015-05-10 15:14] rahmanusta commented on #84
Hello, it is not supported for now, but absolutely, we will implement it.

[2015-05-10 15:20] rahmanusta commented on #85
Hello @CoolBalance . We must do that.

[2015-05-23 11:42] ellipticview opened #87 "Specific words cause headers to be indented"
It seems that AFX has specific keywords that cause headers to be indented in the HTML preview. Example:
[code]

It seems that the words "content" or "header" are processed differently. For reference: note that asciidoctor does not have this issue. The PDF rendering in AFX is also fine.

[2015-05-24 10:31] rahmanusta commented on #87
We are using default asciidoctor styleshet. Cause of this is https://github.com/asciidocfx/AsciidocFX/blob/master/src/main/resources/public/css/asciidoctor-default.css#L740-L741

You can make a workaround for that like below;

[code]

[2015-05-24 15:54] ellipticview commented on #87
If I render this document using asciidoctor e.g.:
[code]
then does this also use the default stylesheet? Because this renders correctly.

[2015-05-24 17:39] rahmanusta commented on #87
I investigated that asciidoctor adds a default underscore to generated ids. For example asciidoctor adds _header for header title. But we changed this default prefix blank. And id="header" elements has a different css declaration in default asciidoctor stylesheet file.

For that reason, you should try to change id or to change idprefix to different than blank.

[2015-05-24 19:59] ellipticview commented on #87
Why did you change the idprefix?

[2015-05-24 20:02] rahmanusta commented on #87
I remember that for github anchor style

[2015-05-26 15:24] jueadams opened #88 "JavaScript execution terminated on Windows (Win7, 64bit)"
Since my document has grown (about 800 pages) it is not longer possible to create any output type from AsciidocFX GUI (Version 1.3.6, JRE included) on a Windows platform. Sometimes it works but in most cases it fails.

From the log file I found:

Exception in thread "JavaFX Application Thread" netscape.javascript.JSException: JavaScript execution terminated.
	at com.sun.webkit.dom.JSObject.fwkMake

[2015-05-28 07:38] rahmanusta commented on #88
Hello @jueadams .

Why didnt you try to seperate documents with include:..[] element? Is this document public ? If public i can try it in my system.

[2015-05-28 09:06] jueadams commented on #88
Hello @rahmanusta,

thanks for your advice. The book is organized chapter-wise using includes with documents stored in folders and sub-folders. This book, _not_ written by me,  was taken as "stress test" to check what will happen for a larger project.
The source is available at https://github.com/elastic/elasticsearch-definitive-guide (for private use/non-commercial)  but I'd to change some markup

[2015-05-28 17:58] rahmanusta commented on #88
Yes please share with me changed sources. Thanks for opinions.

[2015-06-01 11:32] kittylyst opened #89 "Mac version has broken cursor movement keyboard shortcuts"
On OS X 10.9.5, JDK 8u40:

1) Word-left & word-right (usually CMD-LEFTARROW / CMD-RIGHTARROW) does not work.

2) If you attempt to use word-left or word-right, the DOWN arrow stops working (although UP still works).

3) To recover DOWN arrow, have to use mouse to click elsewhere in the editor pane.

[2015-06-01 13:25] lefou commented on #89
Same under Linux :-( In most cases that I watched this behaviour, I was switching back from another application (via keyboard). Reason might be some focus stealing.

[2015-06-01 13:52] rahmanusta commented on #89
Hello guys, Thanks for feedbacks.

@kittylyst Can you try this pre-release https://github.com/asciidocfx/AsciidocFX/releases/download/v1.3.7-alpha/AsciidocFX_Mac.dmg

I wonder if it will solve the problem

[2015-06-01 17:37] rahmanusta commented on #89
@lefou Can you test latest master in Linux environment?

[2015-06-01 17:58] kittylyst commented on #89
@rahmanusta Confirmed fixed for me on the pre-release.

[2015-06-01 18:10] rahmanusta commented on #89
That is great! Thanks @kittylyst

[2015-06-02 10:08] #72 closed

[2015-06-11 17:43] jueadams commented on #88
I send you the project via email. Did you receive the data?

[2015-06-12 06:37] rahmanusta commented on #88
Hello @jueadams. Yes I got your email. I'll inform you :)

[2015-06-13 06:47] #79 closed

[2015-06-13 11:49] jueadams commented on #88
Thanks for your help.
It is not that urgent as all went fine on *nix.

[2015-06-17 14:42] gbjbaanb opened #91 "Only 3 levels of header are supported"
A title with 4 or 5 equals markers either side do not get generated as headings, so:

==== heading ====

does not get generated.

The ASCIIDoc spec says:

    11.2. One line titles

    One line titles consist of a single line delimited on either side by one or more equals characters (the number of equals characters corresponds to the section level minus one). Here are some examples:

    = Docume

[2015-06-17 14:55] rahmanusta commented on #91
You need to add something after headings space, word e.t.c. For example, when you add linebreak after headings, headings are generating correctly;

[code]

[2015-06-17 14:57] gbjbaanb commented on #91
Ah no, it was my own fault - an extra * in a comment block before my titles was causing these headings to be inside the block. I had tables that were still being generated correctly however which is what confused me. Sorry about that.

[2015-06-17 14:57] #91 closed

[2015-06-22 07:19] #87 closed

[2015-06-22 09:29] #82 closed

[2015-06-22 09:30] #71 closed

[2015-07-06 07:33] lefou commented on #89
Looks like the issue is gone. Thanks!

[2015-07-08 15:14] rahmanusta commented on #89
Thank you @lefou  and @kittylyst . You can use/try AsciidocFX version 1.3.7-RC1.

[2015-07-08 15:14] #89 closed

[2015-07-08 15:14] rahmanusta commented on #84
@cchet Can you try AsciidocFX v1.3.7-RC1 ?

[2015-07-08 15:17] rahmanusta commented on #83
Hello @yfain . We implemented a log viewer for AsciidocFX. I prints logs to a table viewer. You can try version 1.3.7-RC1. Can you try and give feedbacks us ? Thanks
![untitled](https://cloud.githubusercontent.com/assets/1158804/8574107/a3784be4-259d-11e5-9d2b-2601ab6a4401.png)

[2015-07-08 15:18] rahmanusta commented on #80
Do you think this issue resolved @yfain ?

[2015-07-08 15:20] rahmanusta commented on #73
@genova88 word counter değil ama şan character counter var. 1.3.7 tam çıkmadık word counter ekleyebiliriz.

[2015-07-08 15:20] rahmanusta commented on #26
We implemented this feature in v1.3.7-RC!. You can try it  @rajmahendra :)

[2015-07-08 15:21] rahmanusta commented on #69
Can you try v1.3.7-RC1 and give feedback us as if it is resolved or not @engineerchef  ?

[2015-07-08 15:23] rahmanusta commented on #77
Hello @yfain . Do you think this issue is resolved?

[2015-07-09 04:33] takapa opened #92 "Preview (and rendering) of HTML cells does not seem to insert <br/> elements"
Newlines within table cells do not seem to render in the preview panel. According to the asciidoc documentation, two newlines in a table cell contents area implies a new paragraph.

![asciidoc](https://cloud.githubusercontent.com/assets/201870/8587963/ea38c64a-25fb-11e5-9c39-58a2a55d6605.png)

[2015-07-09 08:15] ozlerhakan commented on #92
Hi @takapa ,

I am only thinking of putting a plus '+' in each sentences as below:

[code]
Using the +, you put each sentence on a separate line, since we are dealing with Asciidoctor.

[2015-07-09 08:39] cchet commented on #84
Thanks i will give it a try

[2015-07-09 13:27] takapa commented on #92
Putting space & plus  " +" at the end of the end of each line does indeed work, but newlines should *also* work as per the example in the image attached in the original post.

For reference, the following website renders the following asciidoc correctly.

https://asciidoclive.com/

[code]

[2015-07-09 15:01] ozlerhakan commented on #92
Ah, so you need to use another attribute called :hardbreaks: for this purpose in **Asciidoctor** . Just put it to the header of your document:

[code]

I hope that helps.

[2015-07-09 15:06] takapa commented on #92
I confirm this works.

It now appears that it was a difference between asciidoc and asciidoctor, something that I wasn't aware of until today!

Thank you for isolating the solution.

[2015-07-09 15:06] #92 closed

[2015-07-09 15:15] ozlerhakan commented on #92
np @takapa , enjoy using AFX!

[2015-07-09 20:06] #26 closed

[2015-07-10 15:01] cchet commented on #84
Thanks works now.

[2015-07-10 15:01] #84 closed

[2015-07-10 15:03] rahmanusta commented on #84
:+1:

[2015-07-10 15:54] takapa opened #94 "Writing five colons in AsciiDocFX crashes/hangs the program ":::::""
Writing five colons in AsciiDocFX crashes/hangs the program. I'm sure this is something to do with the underlying libraries, but it may be worth scanning for this pattern to avoid killing the UI.

":::::"

[2015-07-10 16:03] rahmanusta commented on #94
It is so much interesting :) @mojavelinux , what do you think about this issue?

[2015-07-10 21:58] mojavelinux commented on #94
That's definitely a bug in Asciidoctor.js. It seems like the regular expression for a dlist is matching differently in the JavaScript environment than it does in the Ruby environment. As a result, it ends up going into an infinite loop. Could you file this against Asciidoctor core so we can investigate? Mention in the title that it affects Asciidoctor.js, but the change has to happen to core.

[2015-07-10 21:59] mojavelinux commented on #94
Although you could put a temporary safeguard into AsciidocFX, in general we should assume that the underlying libraries don't crash. Otherwise, you end up playing whake-a-mode from the UI code, which is not a good direction.

[2015-07-10 22:03] takapa commented on #94
Glad it's a "proper" bug. Took me hours to isolate the source of the crash to this partiular ascii pattern :)

[2015-07-10 22:16] mojavelinux commented on #94
Thanks for the research @takapa!! You zeroed us right in on the fix.

Upon further review, it appears that this is a transpile error in Opal. It is supposed to be checking if a value is nil, but the logic gets confused and it always returns true. I can rewrite it in core to workaround the issue, but we may have also found a bug in Opal as well.

[2015-07-10 22:27] mojavelinux commented on #94
Aha, I see what it is. We are using a do...while loop and Opal is translating that into a regular while loop. The first iteration of the loop never runs, therefore we get an infinitely loop.

[2015-07-10 22:28] mojavelinux commented on #94
Yep, that fixed it. I think we can update Asciidoctor.js with a patch without having to change core. We may still change core...or we'll try to fix the problem in Opal. Either way, we'll need an Asciidoctor.js 1.5.2.1 release to address it.

[2015-07-10 22:32] takapa commented on #94
Did this affect the github asciidoc rendering?

I wanted to try it out, but was fearful I'd break my account if I saved a file in it with the five colons of death.

[2015-07-10 22:39] mojavelinux commented on #94
Nope, this is purely an Asciidoctor.js issue. As I mentioned, when Asciidoctor.js is made, the `do...while` loop turns into a `while` loop and changes the logic.

I'll follow-up shortly with steps to get it applied to Asciidoctor.js. In the meantime, I've found a way to use a regular while loop in core to make this patch unnecessary in the future (turns out, we didn't need the `do...while` anyway)

[2015-07-11 10:11] #88 closed

[2015-07-11 20:48] takapa opened #95 "Feature Request : Add toggle to enable/disable preview calculation"
AsciiDocFX currently seems to use a timer based on the last edit to the document, and then fire a preview update - *even if the preview window is not visible*.

I propose a toggle switch at the top of either the editor window, or the explorer window, that disables rendering of the document upon document change.

The reason for this is if you are editing a larger sized document, then rendering can

[2015-07-12 12:01] rahmanusta commented on #94
Thank you @takapa and @mojavelinux . Can we think it is as an Opal bug ? Which version of Asciidoctor.js will be OK for this issue ?

[2015-07-12 16:44] cchet opened #96 "[source, json] split json into two code blocks"
A json file included via
[code]
produces the following output
![bug_asciidoc_split_json](https://cloud.githubusercontent.com/assets/2004943/8638784/e2f597ec-28c5-11e5-8716-2e2df79778da.PNG)

[2015-07-12 18:52] rahmanusta commented on #96
@cchet Did you try like below?;

[code]

[2015-07-12 19:42] mojavelinux commented on #94
This is indeed an Opal bug, but we're able to work around it without changing Opal. It's now fixed in master, which means it will be available in 1.5.3 unless we decide we need a release sooner. I'm working to get 1.5.3 out this summer.

[2015-07-13 10:24] jaredmorgs opened #97 "[RFE] Provide AsciiDoc real time validation"
I know you can implement validators like https://atom.io/packages/redpen in Atom. The non-atom version of RedPen is compatible with continuous integration services like Travis, so I wonder if the validator (or something like it) could be added to the app to close the loop for new users.

RedPen has recently added AsciiDoc support along with markdown support. It would be a great offering for the ap

[2015-07-13 10:32] rahmanusta commented on #97
Thank you @jaredmorgs .I had never seen redpen yet. I'll try it. I think,  we can integrate it in further releases.

[2015-07-13 12:08] cchet commented on #96
Yes I did, then the '---' are added to the top and the bottom of the rendered code blocks but still the code blocks are split.
I am currently at work, but when I'm at home I will provide an screenshot.
I had this one in the first place but removed them before I submitted this issue.

[2015-07-13 17:20] rahmanusta commented on #94
Thank you @mojavelinux . I will use directly Asciidoctor master. :+1:

[2015-07-13 19:12] rahmanusta commented on #95
+1

[2015-07-13 19:18] cchet commented on #96
Ok, you are right, it works that way.
Seems I was mislead by myself.

Thanks

[2015-07-13 19:18] #96 closed

[2015-07-14 19:17] rahmanusta commented on #95
@takapa We implemented this feature in master. This feature will be available in release v1.3.7. Thanks for your support to AsciidocFX project!

[2015-07-15 00:36] jaredmorgs opened #98 "Saving a New Document from the `new*` tab only saves up to the point where you saved the doc"
I created a new document this morning, using the new* tab, clicked the `Save` button, and saved it using a `filename.adoc` pattern to a local directory.

When I tried to reopen the file again to show a colleague, all the text was gone from the file. It's like the contents of the file was never saved even though I was regularly clicking the save button as I was working.

I did not see any obvious r

[2015-07-15 07:16] rahmanusta commented on #98
Hello @jaredmorgs ; Sorry for this bug. After resolving it I will push a hotfix with RC2

[2015-07-15 07:31] jaredmorgs commented on #98
No problem. It also happens when you rename a file in the app, which I
discovered today. I was aware of the bug so no data lost. 😉

On Wed, 15 Jul 2015 17:16 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-07-15 09:52] jechlin opened #99 "reloading documents that have changed externally"
Eg I often use a different editor, or switch git branches. At the moment I have to close and reopen.

Also "Save" causes a problem, because you may have unsaved edits when the file changes. I think it should "save" on window deactivation... most programs I use these days , eg IDEA, Google Docs, don't have this concept of "saving", which is a bit anachronistic.

If it was an intellij idea plugin th

[2015-07-15 09:54] jechlin opened #100 "outline levels collapse after changing a heading level"
Would be nice if it remembered what nodes were open in the outline, and didn't collapse them all. As it is it's not very useful, although it could be.

[2015-07-15 20:13] ozlerhakan commented on #100
This was done 2 days ago ([setAutoExpand true for outline(https://github.com/asciidocfx/AsciidocFX/commit/815b32cf702129f209e3d65418a4a4906ea37543)) in the master and it will be available for the RC2 (I guess so).

[2015-07-15 21:01] rahmanusta commented on #99
reloading and external change detection feature pushed to master as your suggestion @jechlin . Thank for your suggestion!

Saving automatically also may be good feature for AsciidocFX. Btw, someone can develop a plugin for intellij idea, but you know this is a different product :)

[2015-07-15 21:03] rahmanusta commented on #98
Thank you @jaredmorgs . This bug is fixed at master. I'm thinking to release RC2 today or tomorrow. Thanks for your support to AsciidocFX!

[2015-07-15 21:08] hakdogan opened #101 "The render principle of the numbered list property"
When text is entered under numbered list, numbering starts from 1 again.

For example:

1. clause
bla bla bla bla

2. clause
bla bla bla bla

As the output of the above syntax

1. clause bla bla bla bla

2. clause bla bla bla bla

To me, this is a problem. Let's get to the point.

1. clause

bla bla bla bla

2. clause

bla bla bla bla

As the output of the above syntax

1. clause

bla bla bla bla

[2015-07-15 21:13] hakdogan commented on #101
Interesting. GitHub editor behaved the same :)
![screen shot 2015-07-16 at 00 11 38](https://cloud.githubusercontent.com/assets/657846/8710051/84e4040e-2b4f-11e5-8fa6-aa7d3da1e265.png)
![screen shot 2015-07-16 at 00 11 51](https://cloud.githubusercontent.com/assets/657846/8710054/8c4bf594-2b4f-11e5-87dd-e97b3a53e3ad.png)

[2015-07-15 22:09] rahmanusta commented on #101
Dear @hakdogan abi;

You can try like below?;

[code]

[2015-07-15 22:30] phayz opened #102 "Font rendering of text elements is not as expected"
The font rendering of text elements in AsciidocFX doesn't look like the native font rendering. I have tried several configuration options in the 'AsciidocFX.vmoptions' file, including those below, but the font rendering does not change.

To illustrate the issue I have included two screenshots, one which shows gedit and next to it, Firefox with a rendered AsciiDoc file, and another which shows the

[2015-07-15 22:45] jaredmorgs commented on #98
Great work. Let me know when it's out and I'll test and verify.

On Thu, 16 Jul 2015 07:03 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-07-16 08:11] jechlin-test commented on #100
Thanks - all expanded is fine for me, although I can imagine some people would prefer it just maintained the open/closed state for each node, particularly if you have a very large tree.

[2015-07-16 08:14] jechlin-test commented on #99
Thanks a lot @rahmanusta.

I might have a go myself at making it an IDEA plugin... when I get some time. I just think you'd get so much for free, eg great editor, dark theme, tree view for outline, dockable resizable windows etc. But if you're not an IDEA user I can see that this wouldn't have the same appeal.

[2015-07-16 08:28] rahmanusta commented on #99
I'm an IDEA user but IDEA is a code editor.

[2015-07-16 08:37] rahmanusta commented on #94
@takapa Please try https://github.com/asciidocfx/AsciidocFX/releases

[2015-07-16 08:38] rahmanusta commented on #100
@jechlin-test , please try RC2 Please try https://github.com/asciidocfx/AsciidocFX/releases

[2015-07-16 08:38] rahmanusta commented on #99
@jechlin-test , please try RC2 Please try https://github.com/asciidocfx/AsciidocFX/releases

[2015-07-16 08:39] rahmanusta commented on #98
@jaredmorgs , Please try RC2  https://github.com/asciidocfx/AsciidocFX/releases

[2015-07-16 08:41] rahmanusta commented on #95
@takapa , Please try RC2 https://github.com/asciidocfx/AsciidocFX/releases

You can toggle rendering in preview panel by right-click menu.

[2015-07-16 08:46] jechlin commented on #99
Sorry, I used my test user account before.

I hear you, but prior to using AsciidocFX (and thanks again for it), I was relatively happy writing adoc in IDEA. To me adoc is not that far removed from code anyway, in fact I read some quote that writing adoc was like "coding documentation".

Besides, I also use IDEA for writing html and various other things that aren't code. It might not be for everyo

[2015-07-16 09:30] rahmanusta commented on #102
It is about CSS. We customized default stylesheet a little bit.

[2015-07-16 10:31] jaredmorgs commented on #98
Hey there Rahman

I just tested RC2. The issue with saving has now been fixed. Thanks for
fixing it so rapidly.

I've been showing folks how you can copy HTML into an AsciidocFX window and
it instantly converts it to AsciiDoc markup. They can't believe how well it
works. Even for complex HTML docs. I'll be doing a quick demo of it
tomorrow and recording it for folks.

On Thu, 16 Jul 2015 at 18:39

[2015-07-16 10:39] jechlin opened #103 "support variables in includes"
Typically we include files like this:

[source,java]
----
include::{projectdir}/src/test/resources/RemainingWorkInLinkedIssues.groovy[]
----
The important part of this *projectdir*, which is a variable pointing to the root of the project.
We could use fully relative paths, but the problem then is you can't easily move the doc up or down a level.

projectdir is set in *_config.yml*, the main jekyll

[2015-07-16 11:49] phayz commented on #102
OK, thanks. Can I examine the CSS and do some testing with different fonts?

[2015-07-16 12:54] hakdogan commented on #101
Thansk a lot @rahmanusta

It works...

[2015-07-16 14:21] #101 closed

[2015-07-16 14:22] rahmanusta commented on #103
For example, it works;

[code]

[2015-07-16 14:26] rahmanusta commented on #98
Hey Jared;

Thank you so much for reporting this issue. I'm glad to hear that your folks liked AsciidocFX. Demo recording for AsciidocFX will be great! Please share it with me!

[2015-07-16 14:26] #98 closed

[2015-07-16 14:39] #69 closed

[2015-07-16 15:24] jechlin commented on #103
Ah, that does work... but I'd have to define it in each file, and then there's the risk of leaving that committed, and then my CI site build would break.

I would like to set it as a transient property, because it's different for everyone working on the docs, depending on where their git checkout is.

[2015-07-16 15:53] rahmanusta commented on #103
Maybe you can use conditinitoal ifs;

[code]

In this example, if your build environment is browser, asciidofx it will set projectdir property, if not it will use the property from your build environment.

[2015-07-17 06:58] jechlin commented on #103
That would help, but seems like there must be a better solution than every user adding that to every page.

[2015-07-17 09:39] shawngiese opened #104 "Drag outline items, images and tables into document as links"
Just an enhancement I would love to see. Some of my documents get big and are spread across multiple files.

[2015-07-17 11:42] rahmanusta commented on #104
@shawngiese Thanks for your suggestion, but I did not understand it :) Can you give more details for your idea?

[2015-07-17 11:44] rahmanusta commented on #103
You are right. This is a need. We will implement it via config files.

[2015-07-17 12:37] shawngiese commented on #104
Already, from the outline you get a list of all parts of your document, well of the single document (not of a book it seems). What I would like would be the ability to drag an item from the outline, into the text, and that it will appear a link in the text. Currently I can drag a folder into my document and it appears in the file tree markup. The same for images... I can drag one into the document

[2015-07-17 13:17] jechlin commented on #103
Many thanks. I am looking forward to it.

I started trying to add it myself, but I didn't realise that the actual rendering is done through javascript, and it's already minified in the the source distro. At that point I got a bit stuck.

[2015-07-17 22:56] takapa opened #105 "Favourite dirs feature: Multiple Bugs + suggestion."
Testing out 1.3.7 RC2, and was trying out favourite dirs feature and decided to summarise my experiences and add some change requests too.

Bug One -- Cannot add a second favourite folder
-----

1) I navigate to the /some/path/folderA.
2) I right click the folder and select "Add to Fav. dirs"
3) Now I navigate to /some/path/folderB.
4) I right click the folder and now "Add to Fav. dirs" is disable

[2015-07-17 23:44] takapa opened #106 "Folder contexts go missing after light navigation (RC2)"
After changing folders 3 or 4 times, the folder contents go missing.

This appears to be a new bug in RC2. The below animated gif was made immediately after a fresh restart of AsciiDocFX 1.3.7 RC2.

Prior to encountering this bug, I had added a favourite directory (see previous bug report). Not sure if adding a favourite directory was a trigger for this bug or not, but this happens every time I lo

[2015-07-18 09:06] rahmanusta commented on #106
Yes this is a bug @takapa , I pushed RC3, it will be available to download in 10 minutes. Can you try it ?

[2015-07-18 23:57] takapa commented on #106
I confirm this is fixed in RC3.

[2015-07-19 00:01] ainsley opened #107 "Suggestion: Simplify nav window UI icons"
(moved this from #105 as it was unrelated to that issue)

Suggestion -- Not Bug
----

A request here is that the home button is replaced by the a favourite directories dropdown. The home button is pretty redundant really because it navigates to the user home folder, and quite often a project folder is deep underneath this folder, or on an entirely different drive entirely. It's better than C drive

[2015-07-19 00:02] takapa commented on #105
Just tested this on RC3. Bug two is fixed (bug #106). Bug one is also fixed (must have been related to the watcher service)....

However, there is an additional bug now, which I will file separately.

[2015-07-19 00:02] #105 closed

[2015-07-19 00:02] takapa opened #108 "Favourite folders are forgotten when AsciidocFX is closed and then opened again."
Favourite folders are forgotten when AsciidocFX is closed and then opened again.

[2015-07-19 00:15] takapa commented on #94
Confirmed fixed in RC3.

[2015-07-19 00:15] #94 closed

[2015-07-19 00:17] takapa commented on #95
Tested working in RC3.

[2015-07-19 07:46] #106 closed

[2015-07-21 17:38] takapa opened #109 "Feature request: Word wrap in the editor"
I use the ":hardbreaks:" setting in my documents which means that I don't manually use linefeeds in the middle of paragraphs to stay in some arbitary screen width limit. That said, I depend upon word wrap so I can keep track of where I am in the document. Long lines should be wrapped around in the .asciidoc source file.

I can see you use Ace Editor as the underlying editor technology. Please can

[2015-07-22 12:40] michael1maass opened #110 "App window closes after startup on Mac"
V 1.3.7 rc3
MAC OS X.10.10.4

after Update from 1.3.6 Asciidoc Fx starts, runs the update and then closes the main window. While the Icon remains active in the dock and the Taskbar shows the program title, the Workplace window is closed and does not come back.

only option is to close the program.

Michael

[2015-07-22 12:43] rahmanusta commented on #110
Can you share a screen recording?

[2015-07-22 12:51] #110 closed

[2015-07-22 12:56] michael1maass commented on #110
on the way via pm

[2015-07-22 12:56] rahmanusta commented on #110
Michael, why did you close this issue?

[2015-07-22 12:57] michael1maass commented on #110
i messed it up by clicking the false link

[2015-07-22 13:06] michael1maass commented on #110
tried it again from scratch. 1.3.6. works fine. Do the update and the main screen does not even appear.
regards

Michael

[2015-07-26 09:27] Zlika opened #113 "Multiple bugs with reveal.js backend"
Hello,

I tried to use the reveal.js backend with AsciidocFX 1.3.7-RC3 and I found multiple bugs with it (some of them are also present with the Deck.js backend, but not all). These bugs are not present when I directly render the slides with Asciidoctor 1.5.2 + latest version of reveal.js backend + reveal.js 3.1.0.

* Title slide is not rendered.
* Inline images (image:img.jpeg[]) are not rendered

[2015-07-27 14:31] cortix opened #114 "Book Cover Feature"
Hi all,

I want add book cover to my pdf..If you add this feature next couple days, it would be great !!

[2015-07-27 18:57] LightGuard opened #115 "Save periodically or on app out of focus, like IntelliJ"
Saving periodically would be great, or at least saving on application blur would be nice.

[2015-07-27 20:34] gastaldi opened #117 "Add a Splash screen"
When executing it without the Terminal, it's not possible to know what's going on until the app starts. It would be nice to have a Splash screen showing that the application is loading.

[2015-07-28 08:55] rahmanusta commented on #117
Yes, we need to do that. Can you help that to pick a gif or png. http://resources.ej-technologies.com/install4j/help/doc/index.html ?

[2015-07-28 08:56] rahmanusta commented on #115
I see this feature request two times. I think we should implement this nice feature.

[2015-07-28 08:57] rahmanusta commented on #109
@takapa Please try RC4 and press F4 to show settings. Can you test and give feedbacks?

[2015-07-28 08:58] rahmanusta commented on #104
@ozlerhakan I didnt understand exactly, did you understand the feature request?

[2015-07-28 08:59] rahmanusta commented on #103
@jechlin please try RC4 and press F4 to show settings. There is Asciidoctor settings. You can set global attributes on there.

[2015-07-28 09:00] #95 closed

[2015-07-28 09:00] #83 closed

[2015-07-28 13:25] jechlin commented on #103
Thanks - I can't see to edit a new property. I am doing it in the Preview attributes panel.

![image](https://cloud.githubusercontent.com/assets/1714400/8932334/68fe7096-3534-11e5-8632-8d1102665dd5.png)

When I click in the grey area on the right to set the value the left side disappears.

[2015-07-28 13:38] rahmanusta commented on #103
Edit and press enter

[2015-07-28 13:42] jechlin commented on #103
As a windows user that's not intuitive, but yep.

That works perfectly, thanks a lot.

[2015-07-28 13:44] rahmanusta commented on #103
Sure, this is default behaviour of JavaFx TableView, but we can do that more intuitive.

[2015-07-28 13:44] #103 closed

[2015-07-28 14:57] cortix opened #119 "image link"
Hi,

Is AscidocFx able to create image link ? For example, I want to give link to social icons like that
![facebook](https://cloud.githubusercontent.com/assets/6178404/8934761/dd4d402c-3551-11e5-90b6-8e54e513b051.png)

[2015-07-28 15:05] rahmanusta commented on #119
Of course, use the link option;

[code]

[2015-07-28 15:28] ozlerhakan commented on #104
I am not sure @rahmanusta as well. I am guessing now, you can refer a file into another file. More clearly, you can drag a file into an asiidoc file that will use the include directive and appear like this (assuming that your adoc file name is example.adoc):

example.adoc:
[code]

that feature is good if your documents are spread across multiple files. Is that what you suggest us, @shawngiese ?

[2015-07-28 17:30] cortix commented on #119
Thanks

in the preview screen, all links works well but after rendering all links looks like at below

![2015-07-28 20-12-10 ekran goruntusu](https://cloud.githubusercontent.com/assets/6178404/8938365/ea3f1c00-3566-11e5-928a-3cde2365cfdd.png)
![2015-07-28 20-13-24 ekran goruntusu](https://cloud.githubusercontent.com/assets/6178404/8938374/f878bc40-3566-11e5-90ec-6d4b2b68b3d1.png)

and also when I

[2015-07-28 17:34] rahmanusta commented on #119
There is a problem when rendering PDF, please give white area to image's left and right to see well content. It is a workaround for now.

[2015-07-28 17:38] cortix commented on #119
![2015-07-28 20-35-59 ekran goruntusu](https://cloud.githubusercontent.com/assets/6178404/8938634/6ec10712-3568-11e5-9d89-4b058a5ce7b1.png)

When I change the the :lang: en to :lang: tr in the book.asc class, rendering pdf looks like at below

![2015-07-28 20-36-36 ekran goruntusu](https://cloud.githubusercontent.com/assets/6178404/8938652/90673b84-3568-11e5-92cb-c34e1eb66dc5.png)

[2015-07-28 17:45] rahmanusta commented on #119
It is interesting by changing lang, first doctype is book and other is article, which version are u using?

[2015-07-28 17:47] cortix commented on #119
my version 1.3.7

actually many time it works but many time I am getting error :)

[2015-07-28 21:01] ozlerhakan commented on #119
another option may be that you can fix the size of an image so that in a rendered PDF file, you will see the image being 100px:
[code]

[2015-07-30 15:38] takapa opened #120 "Request : Be able to detach preview scrolling from editor scrolling"
When I scroll through my document, the preview window scrolls. Nice behaviour mostly, but ideally this should be configurable.

My (personal) ideal behaviour would be to move the render window scroll position on data entry (after keypress time expires). Do not move the scroll position on scrolling up and down in the editor window.

When in non-rendering mode, then the scroll position should not mo

[2015-07-30 18:54] cortix commented on #119
Hi @ozlerhakan ,

I tried your solution, yes it worked but the image was not clickable !!!

but I put social icons to image folder and I used like that;

image::images/facebook.png[facebook,link="https://www.facebook.com/groups/abhibe/",100]

[2015-08-02 15:37] rahmanusta commented on #119
I tried this; it seems clickable

[code]

[2015-08-03 23:32] cortix opened #122 "Rendering Error"
I am getting this kind of error when I render the sample.

https://drive.google.com/file/d/0BwZ-K9WC0XGBbW9NTEpyLTgtb0E/view?usp=sharing

[2015-08-03 23:47] cortix commented on #119
Rahman Hocam,

After rendering process, I am getting this result. In the video, facebook icon(sixth one) is your suggestion.

https://drive.google.com/file/d/0BwZ-K9WC0XGBVWFYTTNXODlLVXc/view?usp=sharing

Is this about Adobe reader latest version ? Now I am using Adobe Acrobat Reader DC latest version

[2015-08-04 12:19] rahmanusta commented on #119
Dosyayı bana gönderebilir misin @cortix ? Bende hata vermedi ama resme link de koymadı

[2015-08-04 12:59] cortix commented on #119
Yandex disk üzerinden dosyayı paylaştım hocam.

[2015-08-04 15:46] rahmanusta commented on #119
@mojavelinux It seems that image with link rendered correctly, but in docbook, it renders image but with no link. Is there a limitation or workaround for that?

[2015-08-04 22:08] mojavelinux commented on #119
It appears that image links are not implemented in the DocBook converter (it doesn't check for the link). This would need to be added. Could you file an issue in core?

One workaround is to wrap the inline image inside a link, like:

[code]

But that only applies to inline images, not block images.

[2015-08-05 01:39] cortix commented on #119
Hi @mojavelinux ,

I've tested your saying, it worked but size of the social icons are very big..Is there any way to decrease size of icons ?

https://drive.google.com/file/d/0BwZ-K9WC0XGBYkZpMy1sT3FzMTA/view?usp=sharing

[2015-08-05 02:41] mojavelinux commented on #119
That looks like the images are being stretched to 100% (or something) by the toolchain (I'm assuming you are converting to PDF using DocBook XSL or something). You could set the size explicitly, but they really should be the normal size unless you set an explicit width.

[code]

The scaledwidth is one way to control the width of the image in the generated PDF...but it really, really depends on wha

[2015-08-05 02:43] mojavelinux commented on #119
If you are using the DocBook XSL provided by fopub (I'm just guessing), this was a known issue. See https://github.com/asciidoctor/asciidoctor-fopub/blob/master/src/dist/docbook-xsl/fo-pdf.xsl#L429

[2015-08-05 05:54] rahmanusta commented on #119
@mojavelinux Yes we are using DocBook XSL based on fopub.

I also file an issue for linked images in the core.

[2015-08-05 06:08] mojavelinux commented on #119
If you are interested, we do need a new maintainer for fopub as my focus is on other modules (Asciidoctor PDF, EPUB3, etc).

Regarding the issue at hand, that linked code needs to be changed so that it does the right thing with images (unless you are working on a copy, then the changes needed to be in your modification).

Thanks!

If you can suggest what the expected DocBook output is using a samp

[2015-08-05 14:59] rahmanusta commented on #108
Do you have write permission to installdir ?

[2015-08-05 21:23] shawngiese commented on #104
Yes, it is especially nice when there are multiple files, but also useful when you have a section in a long document and want to link to it... such as "For more information about xxx see yyy". Across multiple files would also require an enhancement to the outline to scan for section titles in the files of the same folder... so maybe just from a single file's outline could be a good start.

[2015-08-06 03:11] talios commented on #108
Writing the `./conf` directory to the install dir seems rather problematic, the OSX .dmg installer installs into the global `/Applications` folder by default, which isn't user writable. This is also somewhat problematic if running from a build - `mvn clean install` deletes the `conf` dir under `target`.

Would it not be better to store the config in the users home dir?

[2015-08-06 04:03] rahmanusta commented on #108
No, you will not use maven with installer. Can you give mi more detail for your installation + running path ?

[2015-08-06 20:02] cortix commented on #119
Thank you @rahmanusta and @mojavelinux

I've changed my codes like that

https://www.facebook.com/groups/abhibe/[image:images/facebook.png[Facebook,80,scaledwidth=10%]]
https://www.facebook.com/abhibedanismanlik[image:images/facebook.png[Facebook,80,scaledwidth=10%]]
https://twitter.com/ab_hibe[image:images/twitter.png[Twitter,80,scaledwidth=10%]]
https://plus.google.com/u/0/communities/1076972669

[2015-08-06 20:10] rahmanusta commented on #119
So good @cortix :)

@mojavelinux it seems that docbook doesnt support links with block images.

[2015-08-06 20:10] #119 closed

[2015-08-07 08:34] rahmanusta commented on #109
@takapa Did you try that?

[2015-08-07 21:48] takapa commented on #109
Hi,

Yes, I tried this, and it does work.

[2015-08-07 21:52] takapa commented on #108
Hi,

I tried this out in admin mode and yes, the favourites folders are stored, but ONLY if I start AsciiDocFX in admin mode (in Windows holding Ctrl+Shift as a click the application icon). Obviously, this is not a workable solution because a documentation application should not require admin rights from a security standpoint and of course, it's extremely un-user-friendly.

So - I still list this

[2015-08-08 05:21] #109 closed

[2015-08-08 21:46] #122 closed

[2015-08-09 08:54] #80 closed

[2015-08-09 08:55] #77 closed

[2015-08-09 09:01] #99 closed

[2015-08-10 11:51] rahmanusta commented on #113
@Zlika Can you try the latest prerelease ? https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.3.7-RC5

[2015-08-10 11:52] rahmanusta commented on #108
@takapa Can you try latest prerelease ? https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.3.7-RC5

[2015-08-10 11:53] rahmanusta commented on #102
@phayz You can edit or change default stylesheet in RC5 https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.3.7-RC5 .Can you try it ? Press F4 to edit.

[2015-08-10 11:55] rahmanusta commented on #67
@arngrimur You can change or edit default stylesheet also https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.3.7-RC5

[2015-08-10 11:59] rahmanusta commented on #107
@takapa Maybe you have a large screen, but generally in my screen it seems below;

![asciidocfx](https://cloud.githubusercontent.com/assets/1158804/9170968/405b4cea-3f70-11e5-8336-5e4f7a5eb4d9.png)

For the suggestion, I only removed up go button, because we can go up by doubleclicking to root.

[2015-08-10 12:01] rahmanusta commented on #70
@fbruch You can change Asciidoctor attributes in RC5 (Press), please try it https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.3.7-RC5

To change attributes press F4 and add imagesdir attribute to the attribute table.

[2015-08-10 13:24] takapa commented on #107
My own subjective opinion is that the two drop-downs are still a problem. I'm a big fan of AsciiDocFX, however I struggle to instinctively remember where to find the options I'm looking for. If I can't train my instinct after weeks of use, then my gut feeling is that the UI is too complex.

Also - tricks like double clicking the root to go up a folder, are fine, but they are not obvious to new use

[2015-08-10 13:41] takapa commented on #108
I updated to 1.3.7-RC5 and it seems not fixed.

I tried the latest pre-release, and I did NOT start AsciiDocFX as admin.

I added two favourite folders, then I closed the program, then I re-opened AsciiDocFX (without admin again), and the favourite folders were gone.

[2015-08-10 17:09] rahmanusta commented on #108
@takapa  Could you try to run it with sudo for first time only ?

[2015-08-10 18:51] wfouche opened #125 "v1.3.7-RC5 - crashes on Windows when conf/cheatsheet/cheatsheet.adoc is opened."
Easily reproducible using Java 1.8 (u51) (x64) and Graphviz 2.38 installed. Use "Open file" to load cheatsheet.adoc; AsciiDocFX crashes immediately.

![image](https://cloud.githubusercontent.com/assets/13682850/9180248/9240784c-3fa1-11e5-9e26-c6830ada3601.png)

[2015-08-10 18:57] wfouche opened #126 "v1.3.7-RC5: booksample/chapter-08.adoc is not rendered correctly."
Appears as follows in AsciiDocFX.

![image](https://cloud.githubusercontent.com/assets/13682850/9180374/62b138ae-3fa2-11e5-8d63-e66caf715cb3.png)

[2015-08-10 19:46] stallio opened #127 "Issue with bold/italics inside code font when rendering PDF"
I was having trouble making PDFs from a test file and eventually figured out that it was because my file had the following text:

`code font with *bold inside*`, `code font with _italics inside_`, `code with *_bold and italics_*`

When I try to save a PDF, I instead get a temp XML file and am prompted to fix a validation error. The error seems to be that this formatting results in a <emphasis> ins

[2015-08-10 20:08] rahmanusta commented on #126
@wfouche Documentation updated, can you try with @startditaa and @endditaa  ?

https://github.com/asciidocfx/AsciidocFX/blob/master/README.asc#ditaa-extension

[2015-08-10 20:17] rahmanusta commented on #127
Indeed I dont know how to workaround with your issue. @mojavelinux Do you have a suggestion for @stallio ?

[2015-08-10 20:18] rahmanusta commented on #125
@wfouche I didnt faced with this problem. Could you test with JDK 8 U60, or JRE bundled version of AsciidocFX ?

[2015-08-11 06:37] wfouche commented on #125
@rahmanusta - AsciidocFX works fine with the embedded JRE (Java 8 u60) on my Windows 10 laptop; however it crashes with Java 8 U51 on the same laptop. Seems like Java 8 u60 is required, but it is not officially released yet. See https://www.java.com/en/download/faq/release_dates.xml

[2015-08-11 06:47] wfouche commented on #126
@rahmanusta The Java extension created by @joemat is not activated although it has been integrated into the code base. See change https://github.com/asciidocfx/AsciidocFX/commit/1fbb1f089c8a855ec2932614e0cf2dcf50fcda3d

Change https://github.com/asciidocfx/AsciidocFX/blob/master/README.asc#ditaa-extension is not required in this case and should best be reverted and @joemat's extension activated /

[2015-08-11 07:10] rahmanusta commented on #125
@wfouche There were crashes issues before Java 8 U60, it is not final but resolves crash issues.

[2015-08-11 07:31] rahmanusta commented on #126
This is my sorry @wfouche . I forgot to add ditaa-block.js script after some changes. I'll release RC5 again with this hotfix.

[2015-08-11 08:15] wfouche commented on #125
@rahmanusta In that case, I'll close this ticket given that 8u60 resolves the crash. Thanks.

[2015-08-11 08:15] #125 closed

[2015-08-11 08:31] wfouche commented on #126
@rahmanusta Do you have a pre-release check list for AsciidoxFX? If not, it would be beneficial to create one and then before each release just run through the check list to see that key bits of functionality still work. Here's my attempt at a pre-release Check List:

*  Open conf/cheatsheet.adoc and see if it renders correctly, then save it as PDF and see if the PDF is rendered correctly as well.

[2015-08-11 08:37] wfouche commented on #126
@rahmanusta issue resolved in latest build of 1.3.7 RC5. Thanks!

[2015-08-11 08:37] #126 closed

[2015-08-11 08:42] wfouche opened #128 "Pre-release checklist for AsciidocFX"
@rahmanusta Do you have a pre-release check list for AsciidoxFX? If not, it would be beneficial to create one and then before each release just run through the check list to see that key bits of functionality still work. Here's my attempt at starting a pre-release checklist:

* Open conf/cheatsheet.adoc and see if it renders correctly, then save it as PDF and see if the PDF is rendered correctly a

[2015-08-11 10:38] rahmanusta commented on #128
@wfouche That is quite well suggestion. Can you lead us to do that?

[2015-08-11 14:43] takapa commented on #108
OK, tried RC5 (new build).

If I start ADFX in sudo/admin mode, and I create a favourite directory, then if I restart the application in user mode (not admin), then the favourite folder is retrieved correctly.

If however I start ADFX in user mode, make a favourite folder, then the favourite folder is not retrieved upon restart of the application. It seems that changes cannot be saved unless in ad

[2015-08-11 14:47] rahmanusta commented on #108
@takapa conf directory must be writable to record configurations. Your suggested folder in user home is best to get over this issue. We can implement it in further releases. But, for now, if you start the application for one time with admin permissions, AsciidocFX will automatically give write permissions to /conf folder. Let'us look at the code. https://github.com/asciidocfx/AsciidocFX/blob/maste

[2015-08-11 19:14] takapa commented on #108
I understand the logic, but this doesn't work on Windows - based on my own
test results.

It doesn't matter if I run in admin mode once or not, if I don't run in
admin mode in subsequent times then it doesn't update the config.

On 11 August 2015 at 15:47, Rahman Usta <notifications@github.com> wrote:

[2015-08-11 19:15] rahmanusta commented on #108
But, I think It is easy to give write permission to application directory

[2015-08-11 20:19] joemat commented on #126
There is a similar problem with the [README.asc](https://github.com/asciidocfx/AsciidocFX#ditaa-extension)  in the project root folder in the chapter "ditaa Extension" :

The block:
[code]
should be written without the @startditaa and @endditaa tags:

[code]

[2015-08-11 20:31] rahmanusta commented on #126
Yes, can you make a pull request for readme ?

[2015-08-12 04:09] talios commented on #108
@rahmanusta Mmm, Having ApplicationController grant full read/write/execute permissions to that folder seems rather nasty - sure I like the idea of applications granting _everyone_ execute permissions etc.

[2015-08-12 07:10] wfouche commented on #128
@rahmanusta  Here's an example of what another project on Github has done:

* https://github.com/mixpanel/mixpanel-js/wiki/Release-Checklist

Something similar would benefit the AsciidocFX project. This is a document that you are in a better position than me to create. If you can start it, I'll review and help revise it.

[2015-08-12 07:16] rahmanusta commented on #108
@talios I'm open to a pull request

[2015-08-13 11:24] Zlika commented on #113
Hi @rahmanusta,
I tested the RC5 release with reveal.js backend. It's much better, but there are still some problems:
* The title slide is still not rendered.
* There is a glitch in the preview window with slide titles, only the first left half is displayed (in fact we can read the full title when the slide rotates, but as soon as the slide is still the right part of the title disappears).
* On on

[2015-08-13 11:53] rahmanusta commented on #113
By default, in asciidoctor template first level title shows in <title> tag. In jade templates that was not impelemented. I updated it. Does it work for you?

I faced with your problem, I didnt found real cause of it, it may be cause with JavaFX or preview window's width.

dlist template is not implemented. I will do that.

Dont worry for that, it is transient issue

I didnt solve this issue yet.

[2015-08-13 14:05] Zlika commented on #113
Thank you for your answers.

When I use AsciiDoctor to render my slides, the title slide is correctly rendered, so I don't know who is right but this is not consistent with the Asciidoctor Ruby implementation. Moreover, when I click on "Browser", the generated presentation has: `<title>Slaytshow</title>`.

Try something like:
[code]
It's correctly rendered with Asciidoctor, but not with AsciiDocFX

[2015-08-13 14:23] rahmanusta commented on #113
It will be available in further pre-release

Yes, it seems not correctly rendered. It works with deckjs backend but not with revealjs for now. It will be available in further pre-release

Default Xmx is 1GB so that AsciidocFX may use all of it. You can try to limit Xmx to for example 512 mb. Just edit AsciidocFX.vmoptions in installation directory.

Can you record a short video for that? Can we ma

[2015-08-13 16:25] Zlika commented on #113
What is really slow is the preview in the browser (with the URL http://localhost:49605/slide/index.slide#/). I don't remember it was so slow in the previous RC I tested, and of course it is not slow at all when using the same browser (Firefox) to display the final presentation generated by AsciiDoctor.

[2015-08-13 19:38] rahmanusta commented on #113
If slowness is only on external browser, this problem is not about AsciidocFX. What about in embedded preview ? Can you create your slide template with New > Slide menu ?

[2015-08-14 06:34] rahmanusta commented on #128
@wfouche I will try that, Thank you

[2015-08-14 06:34] #128 closed

[2015-08-14 11:16] Zlika commented on #113
I don't have the problem if I create a new slide from New > Slide menu, so it must be something related to my slides. However, I don't understand why my presentation is so slow with the "external" browser ONLY when the browser is launched from AsciidocFX. If I generate my presentation with asciidoc + reveal.js backend and open it with Firefox everything is fine. You must do something special with

[2015-08-14 11:54] rahmanusta commented on #113
Could you send me a sample project that has that problem ?

[2015-08-14 18:08] Zlika commented on #113
I'll try to do that when I come back from hollidays.

[2015-08-17 03:47] simplelife201008 opened #130 "Request : save PDF (please add coverpage image support to book pdf coverpage )"
Request : save PDF (please add coverpage image support to book pdf coverpage )

EX:
# Pro Git

:doctype:   book
:docinfo:
:toc:
:toclevels: 2
:front-cover-image: image:book/cover.png[width=1050,height=1600]

[2015-08-17 17:04] simplelife201008 opened #131 "Issue : Generate PDF Fail because some special char"
Open https://github.com/asciidocfx/AsciidocFX/README.asc
PDF , Save As , not generated PDF File , it generate a temp docbook xml ,
then get error message: ERROR => Please fix Docbook validation error. LineNumber: 648, Column: 85
org.xml.sax.SAXParseException: cvc-complex-type.2.4.a: Invalid content was found starting with element 'emphasis'. One of '{"http://docbook.org/ns/docbook":inlinemediaobje

[2015-08-17 17:22] simplelife201008 commented on #130
my request is duplicate request :  Book Cover Feature #114

I hope  one of these code can set Book Cover
* `:front-cover-image: image:book/cover.png[width=1050,height=1600]`
* `:titlepage-logo: images/cover.png`

* `include::titlepage.adoc[]`
.titlepage.adoc content
`[titlepage]`
`image::images/cover.png[]`

[2015-08-18 08:41] wfouche opened #132 "Automatic reloading of document on file modification."
Requesting that AsciidocFX be enhanced to automatically reload the current document if it is modified externally by another application. Some of the other Asciidoc editors support this feature.

The following information from Oracle on Java file change notifications seem relevant: https://docs.oracle.com/javase/tutorial/essential/io/notification.html

[2015-08-18 09:07] wfouche opened #133 "Navigate from Preview Panel to corresponding line in Editor Panel."
Requesting that AsciidocFX be extended to support the following functionality. When holding down the CTRL key and left clicking in the Preview panel, the corresponding text in the Editor Panel should be displayed. Currently when reviewing the output in the Preview Panel, there is no way of quickly locating finding the corresponding text in the Editor Panel (if changes are required).

[2015-08-18 16:25] rahmanusta commented on #132
AsciidocFX is already support this feature

[2015-08-18 17:50] rahmanusta commented on #131
Problems caused from **, please try updated readme in master.

[2015-08-19 08:37] wfouche commented on #132
@rahmanusta That's good to know. However this functionality is not working on Windows. I'll try on Linux.

[2015-08-19 20:31] rahmanusta commented on #132
@wfouche  Hmm, which version of Win are you using? Did you have a chance to try in Linuz ?

[2015-08-21 14:24] cosyman opened #134 "Process manager already initialized: can't fully enable headless mode"
in mac osx 10.10.5,I run latest source code in intellij idea,window splashed and lost

/Library/Java/JavaVirtualMachines/jdk1.8.0_60.jdk/Contents/Home/bin/java -Didea.launcher.port=7533 ................intellij.rt.execution.application.AppMain com.kodcu.boot.AppStarter
   #                 #   #      #                #####  #   #
  # #    ####   ###          ####   ###    ###   #       # #
 #   #

[2015-08-23 22:23] rahmanusta commented on #133
Should we search in editor by selecting text in preview pane with CTRL key?

[2015-08-23 22:25] rahmanusta commented on #134
@cosyman I don't know the reason but, firstly I want to ask you that are you able to run any JavaFX application in your system ?

[2015-08-24 17:15] rahmanusta commented on #131
@simplelife201008 Did you try that?

[2015-08-24 17:19] rahmanusta commented on #127
@ozlerhakan What do you think about the issue ?

[2015-08-24 20:02] ozlerhakan commented on #127
Kardeşim, I have pushed a branch that is available to be merged anytime, so that <emphasis> elements can occur in <literal> and <code> elements.

We are now able to generate a PDF with a small change in the format of the (above) example :

[code]

[2015-08-25 15:07] rahmanusta commented on #130
@simplelife201008  We are thinking to implement it.

[2015-08-25 19:34] stallio commented on #108
+1 for putting config stuff in user's home folder.

I was confused about why I couldn't make any config changes -- it was because I didn't have write permissions in the conf folder. I had to manually change my folder permissions, which is not a good solution.

On Windows, programs are installed in /Program Files by default and those folders require admin permissions by default. (I'm running RC5 on

[2015-08-25 19:41] rahmanusta commented on #108
@stallio We will solve this issue by moving config files to a writable folder in user's home

[2015-08-25 20:25] stallio commented on #67
Does this not work for PDF output? Only HTML?

[2015-08-25 20:32] rahmanusta commented on #67
It is for HTML, css is not available for PDF. We are using docbook toolchain. That is editable in docbook-config and docbook folders in conf directory

[2015-08-26 16:05] simplelife201008 opened #135 "Issue: lang attribute is not work after 1.37 RC1"
`:lang: zh_tw`  is work when generate PDF or docbook at 1.37 RC1
`:lang: zh_tw`  is not work when generate PDF or docbook at 1.37 RC2 ~ RC5

I think  `src/main/resources/public/js/asciidoctor-docbook.js` may be have something wrong
lang function or attribute is wrong

[2015-08-26 16:10] rahmanusta commented on #135
@simplelife201008 You need to change lang option in Settings page. But we will fix this problem.

[2015-08-27 06:44] PBastiani opened #136 "Vista not supported"
AsciidocFX cannot be launch under Vista OS.

[2015-08-27 06:50] rahmanusta commented on #136
Which version of AsciidocFX are you using?
Is your OS x86 or x64?

[2015-08-27 15:19] PBastiani commented on #136
Vitsa SP2 - x86
AsciidocFX-1.3.7

[2015-08-28 11:03] rahmanusta commented on #136
Hello @PBastiani , yes all builds are x64 based.

Could you send a pull request for that?

Thanks.

[2015-08-29 21:44] wsargent opened #137 "cheatsheet does not render images on MacOS"
When the Asciidoc Cheatsheet menu item is selected from the sidebar, then the document created (cheatsheet.adoc) results in the following exception

[code]

The files are owned by root and are world readable, but only root can write to them.  I think the problem may be that the images are opened "writable" and so cannot be accessed by the JVM on those terms.

[2015-08-30 06:50] rahmanusta commented on #137
@wsargent It is because the installdir of AsciidocFX is not writeable. You can save as cheatsheet to a writable directory. But, we need to move write needed contents of AsciidocFX to a writable directory by default.

[2015-08-30 11:03] alexec commented on #68
I've been trying to find a good Asciidoc editor. I've tried Atom, Sublime. I've ended up using Textedit. Why -- because the spell check and grammar is really good. I'm writing documents, they must be spelled correctly.

[2015-08-30 11:18] rahmanusta commented on #68
@alexec AsciidocFX is an growing AsciiDoc editor. Anyone may help it to improve. We are doing our best. If you have enough time, you can help us to support spell checking.

[2015-08-31 14:04] hefanbo opened #138 "Chinese characters are not displayed in exported PDF files"
Chinese characters are displayed as ### in exported PDF files.

[2015-08-31 14:11] hefanbo commented on #138
@rahmanusta I'm using Windows.

[2015-08-31 14:16] hefanbo opened #139 "Suggestion: provide an offline version"
As MathJax are fetched from CDN, math equations cannot be displayed without internet connection. What about providing an offline version so that all features are available even if there is no internet connection?

[2015-08-31 20:22] rahmanusta commented on #138
Sorry. Default used font for afx e
İs Arial and it is not changeable by user for now. I changed it to Arial Unicode  MS and chinese characters rendered correctly. In further release I we
İll push afx with unicoded arial font, but in future we need to give a way to users change fonts in user interface

[2015-08-31 20:29] rahmanusta commented on #139
Cause Mathjax dependencies size is a few larger, I didnt embed it to afx directly. But, we can give an option for users to select local copy of Mathjax in their system. What do you think for that?

[2015-09-01 06:43] simplelife201008 commented on #138
My Config  D:\TOOLS\AsciidocFX
_Copy Chinese TTF File_
    copy c:\windows\fonts\msjh.ttf D:\TOOLS\AsciidocFX\conf\docbook-config
    copy c:\windows\fonts\msjhbd.ttf D:\TOOLS\AsciidocFX\conf\docbook-config

_Generate FOP ttf font xml_

    java -cp D:\TOOLS\AsciidocFX\lib\fop-1.1.jar;D:\TOOLS\AsciidocFX\lib\avalon-framework-api-4.3.1.jar;D:\TOOLS\AsciidocFX\lib\avalon-framework-impl-4.3.1.jar;D:\

[2015-09-01 06:44] simplelife201008 commented on #138
my pdf can display chinese characters  OK

[2015-09-01 08:04] hefanbo commented on #139
That would be great!

[2015-09-01 09:59] hefanbo commented on #138
@simplelife201008 Your method works for me. But I have to do the following things when modifying xml files: 1) replace backslashes(\\) with slashes(/); 2) add 'file:///' before the paths.
However, I don't like the absolute paths.

[2015-09-01 10:01] hefanbo commented on #138
@rahmanusta Could you tell me how to replace 'Arial' with 'Arial Unicode MS'?

[2015-09-01 10:08] rahmanusta commented on #138
@hefanbo You can update fo-pdf like in master branch. https://github.com/asciidocfx/AsciidocFX/blob/master/conf/docbook-config/fo-pdf.xsl#L51-L69

@simplelife201008 Thanks for your detailed informations.

@hefanbo Thanks for your contribution. I didn't know the character issue for AsciidocFX for eastern font sets.

[2015-09-01 11:15] hefanbo commented on #138
@rahmanusta Actually it's not working for me. Somehow the Chinese characters are associated with "symbol.font.family". My solution is to modify 'fo-pdf.xsl' file as follows.
1) Add some font that can display Chinese in `<xsl:template name="pickfont-symbol">`
2) Uncomment `<xsl:param name="symbol.font.family">`

Here is the patch.
[code]

[2015-09-06 17:17] #131 closed

[2015-09-06 18:18] rahmanusta commented on #139
We embedded Mathjax dependencies as local, can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

Also you can change Mathjax path if you need in Location Settings page (Press F4)

[2015-09-06 18:19] rahmanusta commented on #138
Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

[2015-09-06 18:19] rahmanusta commented on #135
@simplelife201008 Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

[2015-09-06 18:20] rahmanusta commented on #120
@takapa  Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

Right click preview and you will see stop scrolling, stop jump line ..

[2015-09-06 18:20] rahmanusta commented on #108
@takapa  @stallio  @talios Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

[2015-09-06 18:21] rahmanusta commented on #102
@phayz  Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx You can change default css or edit it in Settings page (Press F4)

[2015-09-06 18:21] rahmanusta commented on #100
@jechlin  Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

[2015-09-06 18:22] rahmanusta commented on #70
@fbruch Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX#how-to-install-asciidocfx

[2015-09-07 02:39] hefanbo commented on #138
It works now! Great work!

[2015-09-07 02:39] #138 closed

[2015-09-07 02:40] hefanbo commented on #139
It works! Thank you!

[2015-09-07 02:40] #139 closed

[2015-09-07 07:52] #136 closed

[2015-09-07 07:53] rahmanusta commented on #134
@cosyman did you solve this issue ?

[2015-09-07 08:17] #67 closed

[2015-09-07 08:18] #70 closed

[2015-09-07 12:41] rahmanusta commented on #113
@Zlika Can you try RC6 ? https://github.com/asciidocfx/AsciidocFX/releases

Also, in  [cols=".^1a,.^2a",width="100%",frame="none",grid="none"] if you remove "a" from "^1a" and "^2a" output will be normal. I didn't find the cause yet, but there is a bug/problem with "a"

[2015-09-07 14:10] cosyman commented on #134
No,I didn't.

I just download and update my AsciidocFX to v1.3.7-RC6,I open AsciidocFX app,The AsciidoxFX window show,However, after a while child,The Window has disappeared only toolbar left.

I pull latest code,and run it in eclipse, the error were same. I have delete the code ralated to install4j,and It didn't work.
I'think it may be caused by **[Fatal Error] entities.ent**

-------------------

[2015-09-07 15:02] rahmanusta commented on #134
[Fatal Error] entities.ent errors are normal.

@cosyman  Could you try a basic JavaFX application whether it works or not ?

[2015-09-08 02:35] cosyman commented on #134
Yes I have tried [sdkfx](https://github.com/guigarage/sdkfx),javafx demo in java8,jitwatch and others. They all work.

[2015-09-08 06:03] rahmanusta commented on #134
Could you record a short video for the issue? It is interesting. What version of Mac ane you using?

[2015-09-08 06:48] #102 closed

[2015-09-08 06:48] #135 closed

[2015-09-08 06:49] #120 closed

[2015-09-08 06:49] #113 closed

[2015-09-08 06:49] #100 closed

[2015-09-08 06:49] #73 closed

[2015-09-08 06:50] #108 closed

[2015-09-08 14:29] cosyman commented on #134
@rahmanusta
[my short video on baidu](http://pan.baidu.com/s/1ntrdHqT)

[2015-09-08 14:32] rahmanusta commented on #134
Thanks @cosyman , The URL redirects me to http://pan.baidu.com/error/404.html

[2015-09-09 20:23] thomas-crowe opened #140 "MacOS - Problem rendering content"
Just installed on OS X 10.10.5, upon opening an existing asciidoc I encountered an error and no document was rendered.

From the error log
<-- Begin Paste -->
ERROR => Problem occured while rendering content
java.util.concurrent.CompletionException: netscape.javascript.JSException: SecurityError: Jail is not an absolute path: .
    at java.util.concurrent.CompletableFuture.reportJoin(CompletableFu

[2015-09-09 20:27] rahmanusta commented on #140
@thomas-crowe Could you share your asciidoc document or it's basic version that you are getting this exception ?

[2015-09-09 20:40] thomas-crowe commented on #140
Well, this is odd.  I went to reload the document so I could copy&paste the contents, and now it is rendering without an error.  Nothing* has changed, not even a restart of the application.

*obviously something did to make it work, but it is not apparent to me what that change was

Apologies for the fire drill, but thank you very much for the quick response!

Thomas

[2015-09-09 20:42] thomas-crowe commented on #140
Maybe I spoke to soon...

This doc is not rendering

<-- Begin Paste -->
:noaudio:

ifdef::revealjs_slideshow[]

[#cover,data-background-image="image/1156524-bg_redhat.png" data-background-color="#cc0000"]
== &nbsp;

[#cover-h1]
OpenStack 6 FASTRAX

[#cover-h2]
Overview

[#cover-logo]
image::{revealjs_cover_image}[]

endif::[]

<-- End Paste -->

Error entry

<-- Begin Paste -->
ERROR => Problem o

[2015-09-09 21:04] rahmanusta commented on #140
I'm not sure for the cause but we are catching here Asciidoctor security constraints.

I want to ask you what is the value of revealjs_cover_image

Also, can you add

:imagesdir: . // (dot)  // dont write (dot)  only .

I wonder if anything changed with imagesdir?

[2015-09-10 15:14] rahmanusta commented on #134
@cosyman  I watched the video that you sent me. I see there is some errors with red lines. Could you post here all of the output ?

[2015-09-10 20:31] thomas-crowe commented on #140
Here is another document that I ran across that would not render, and reported the same error as above.

<-- Begin Paste -->
:data-uri:

== Pets vs. Farm Animals

image::images/pets_vs_farm.png[width=100%]

ifdef::showscript[]

=== Transcript

Another way to look it, metaphorically, is to compare pets to farm animals.

Pets are given names, such as *rover.internal.redhat.com*. They are unique, lov

[2015-09-11 05:07] cosyman commented on #134
[code]

[2015-09-11 11:52] i-ghost opened #141 "Icons in PDF output stretched to page width"
Hi,

So I've been trying to get inline icons to behave with Asciidox FX. HTML output works fine, but PDF output leaves me with the following:

test.adoc:
[code]

test.pdf:
![lorem](https://cloud.githubusercontent.com/assets/2255046/9813894/755f5560-5881-11e5-8826-954e863f3ea8.png)

The icons are 16x16 PNG files.

![calendar](https://cloud.githubusercontent.com/assets/2255046/9814071/0100c288-5883-

[2015-09-11 11:57] wfouche opened #142 "HTML: Base64 encoding of PNG images."
Hi @rahmanusta

Enjoying using the latest release. Thanks for all the hard work!

This is a new feature request. I sometimes email AsciidocFX generated HTML files to others to review. The HTML file needs to be self-contained and not have references to other local files such as images. To workaround current limitations, the following Python script is used to Base64 encode the PNG images referenced

[2015-09-11 12:07] rahmanusta commented on #142
Hi @wfouche ;

Could you try Clone Html menu item under HTML menu. This feature is already implemented if there is no bug or misconception

[2015-09-11 12:15] rahmanusta commented on #141
Hi @i-ghost ;

Could you try adding :apply-image-size: attribute to your document or docbook settings page?

If it doesn't work, please ping me again

[2015-09-11 12:36] i-ghost commented on #141
Hi @rahmanusta,

Adding the `:apply-image-size:` attribute made no difference in the generated PDF unfortunately. I did this:

test.adoc:
[code]
 and this:

![capture](https://cloud.githubusercontent.com/assets/2255046/9814916/ebb62ce0-5889-11e5-98b2-77c2ccb4bd3a.PNG)

both with and without the "scaledwith=10%".

[2015-09-11 13:58] rahmanusta commented on #141
@i-ghost Sorry, we didnt implemented image-size-info for icons yet, before next release you can use like that ? icon:adjust[height=16], What do you think for that?

[2015-09-11 14:45] i-ghost commented on #141
Hi @rahmanusta,

Yes that seems to work fine, although it will force the icon to take most of the line spacing.

![capture](https://cloud.githubusercontent.com/assets/2255046/9817650/154db458-589c-11e5-90d9-68fba3f933d6.PNG)

However if it's something that will be addressed in the next release then I can wait. I'll consider this closed; thanks.

[2015-09-11 14:48] rahmanusta commented on #141
What about line spacing in fopub @i-ghost  ? same or different?

[2015-09-11 14:56] i-ghost commented on #141
As requested @rahmanusta, running Asciidoc FX's docbook XML through `fobub` with or without "height=16":

![capture](https://cloud.githubusercontent.com/assets/2255046/9817856/4e700d8e-589d-11e5-9d96-ccd60edac7f0.PNG)

The spacing and behaviour is correct.

[2015-09-11 15:01] rahmanusta commented on #141
Thanks @i-ghost , we will solve this issue.

[2015-09-11 16:54] rahmanusta commented on #134
@cosyman Could you try changing main method in AppStarter class ?

 public static void main(String[] args) {
        java.awt.Toolkit.getDefaultToolkit();
        launch(args);
    }

[2015-09-12 06:44] wfouche commented on #142
Hi @rahmanusta

[code]

What is being requested is an additional menu option called Export (which is similar to Save) that willl save document.adoc as document.html but Base64 encode all images.

[code]
This would require generateHtml to be defined as:

[code]

I don't understand what "Clone source" actually does, but it does not seem to create a new HTML file on disk as "Save" or "Save as" does.

[2015-09-12 06:47] rahmanusta commented on #142
@wfouche Clone Html copies HTML content with base64 images to clipboard

[2015-09-12 08:50] wfouche commented on #142
@rahmanusta I'll try the clipboard approach.

The :data-uri: attribute that Asciidoctor supports is a better option to explore.

* http://asciidoctor.org/docs/render-documents/

I tried using :data-uri: with AsciidocFX but it then cannot generate HTML. The HTML "Save" option fails.

[code]

[2015-09-12 08:59] wfouche commented on #142
Closing this issue and opening a new one related to attribute :data-uri:

[2015-09-12 08:59] #142 closed

[2015-09-12 09:04] wfouche opened #143 "HTML: support for the :data-uri: attribute"
The :data-uri: attribute is currently not supported by AsciidocFX.

* http://asciidoctor.org/docs/render-documents/

[code]

When saving a document as HTML using HTML menu option "Save" or "Save as, images cannot be embedded as Base64 encoded strings inside the HTML document.

Is support for the :data-uri: attribute planned?

[2015-09-12 11:07] cosyman commented on #134
@rahmanusta I have tried your method，and the same error with same console output。

I have no good way to debug it

[2015-09-12 11:22] rahmanusta commented on #134
@cosyman Can you try like that http://technical-links.blogspot.com.tr/2014/09/jrsappkitawt-markappisdaemon-process.html;

If it is not working again, we can file an issue to Open JFX.

[2015-09-12 14:10] cosyman commented on #134
@rahmanusta In fact a few days ago I have tried that method. and just now that's still not work.

I will try to run it on other Mac on Monday.

[2015-09-13 07:50] rahmanusta commented on #140
Hi @thomas-crowe ;

For now we don't support :data-uri: feature that embeds images base64 encoded. When you remove that attribute AsciidocFX will render correctly

[2015-09-13 09:55] rahmanusta commented on #141
@i-ghost Could you try v1.3.8 https://github.com/asciidocfx/AsciidocFX

[2015-09-13 11:38] ahus1 commented on #85
I am looking forward to this change.

As a temporary workaround I found that the following conditional works for me: AsciidocFX defines the environment 'browser', while my command line asciidoctor doesn't define an environment. This way my diagram is rendered by both AsciidocFX and asciidoctor command line.

    ifdef::env-browser[]
    [uml,file="overview.png"]
    endif::env-browser[]
    ifndef

[2015-09-14 09:40] rahmanusta commented on #85
@ahus1 Could you reinstall v1.3.8 and try again ? https://github.com/asciidocfx/AsciidocFX/releases

[2015-09-14 09:41] i-ghost commented on #141
@rahmanusta

That fixed the issue. Thanks for the speedy fix. :)

test.adoc:
[code]

now produces this as expected:

![capture](https://cloud.githubusercontent.com/assets/2255046/9846863/1b0ebe36-5acd-11e5-81e3-35005e9bd6b1.PNG)

[2015-09-14 09:41] #141 closed

[2015-09-14 09:43] rahmanusta commented on #115
@LightGuard We just released v1.3.8 and imitated intellij's save/restore approach. Could you try v1.3.8 ? https://github.com/asciidocfx/AsciidocFX/releases

[2015-09-14 10:06] ahus1 commented on #85
I confirm with works with version 1.3.8 (uploaded 37 (!) minutes ago)

[2015-09-14 10:06] rahmanusta commented on #132
@wfouche We are watching the files in Workdir but not outside.

[2015-09-14 10:08] rahmanusta commented on #85
Is everything OK @ahus1 ?

[2015-09-14 10:10] ahus1 opened #144 "UML rendered as "link" when scrolling with cursor"
When I type the rendering of UML is fine.

Once I use the cursor and scroll through the document (i.e. placing the cursor) the includes are not evaluated (?)

Due to this the follwing code

[code]

renders the following image when scrolling

![link](https://cloud.githubusercontent.com/assets/3957921/9847472/5c73e99e-5ad9-11e5-8a49-c7916c0caf93.png)

and the correct UML when typing again

![nginx](

[2015-09-14 10:21] ahus1 commented on #85
@ahus1 says: yes

[2015-09-14 15:16] rahmanusta commented on #144
@ahus1 It is interesting, I really dont know why it produces it as link when clicking include directive. However we need to solve it.

[2015-09-18 11:51] rdllopes opened #145 "Problem with windows Shortcut"
Hi,

In my windows machine, document folder ("My Documents") is a shortcut for a mapped folder in network. AsciidocFX fails to read this folder...
Since 1.3.8, I cannot use AsciidocFx anymore in this machine. When the application starts, I got the following exception:

	8739 [JavaFX Application Thread] ERROR com.kodcu.other.IOHelper - Problem occured while detecting hidden path C:\Users\rodrigo.di

[2015-09-21 06:56] Alsan opened #146 "Chinese fonts in generated PDF"
I'm a chinese user, and tried to conver a doc into pdf through this tool, but all chinese inside the doc becomes unreadable. So, what can I do?

[2015-09-21 06:58] rahmanusta commented on #146
@Alsan Which version of AsciidocFX and OS are you using?

[2015-09-21 09:07] #145 closed

[2015-09-21 09:07] #78 closed

[2015-09-21 09:07] #85 closed

[2015-09-21 09:08] #117 closed

[2015-09-21 09:08] #132 closed

[2015-09-21 09:09] #60 closed

[2015-09-21 09:12] rahmanusta commented on #140
@thomas-crowe Do you have any question? Can we close this issue?

[2015-09-21 11:40] thomas-crowe commented on #140
Sorry, I did read your previous reply about not currently supporting the data-uri feature, and didn't think to reply.  Indeed removing the data-uri tag from the documents do enable them to render properly.  Is there any timeline for when this may be supported, I'm not a developer per se, but would be willing to help out however I can.

Thanks!

[2015-09-21 12:52] rahmanusta commented on #144
@ozlerhakan May it be about click jumping resolver ?

[2015-09-21 15:07] ozlerhakan commented on #144
I am not 100% sure but it might be related to the plantUml method of PlantUmlService. When we move the cursor over the mentioned snippet, [findRenderedSelection](https://github.com/asciidocfx/AsciidocFX/blob/90ca352869bab541d1802b4b2e57b357db634e21/conf/public/js/converters.js#L54) function is triggered and likewise asciidoctor-uml-block.js starts running

The following code returns from asciidoct

[2015-09-21 16:52] i-ghost opened #147 ":imagesdir: not following relative paths in preview + other strange behaviour"
Hi,

I've discovered that Asciidoc FX will not display images in the preview pane if the `:imagesdir:` attribute is set to a relative path.

This is the structure:

![example](https://cloud.githubusercontent.com/assets/2255046/9998447/0aa95b84-6089-11e5-8e0f-069bc575d694.png)

`chapter-01.adoc:`

[code]

This will not render in the preview pane/browser if the images directory is stored one directo

[2015-09-21 22:12] rahmanusta commented on #147
@i-ghost Sure, that is an known issue for AsciidocFX. .. (parent) directive is not working now, but I'm working on that, and will be resolved in further release.

[2015-09-22 11:44] i-ghost commented on #147
Thanks for the information! :)

[2015-09-27 11:20] hakdogan opened #148 "Disappearance problem with undo"
This issue arises during the process of undo(cmd+z) in saved file.  I hope this video help you to understand the issue: http://quick.as/dwyqtb1jw

AsciidocFX version: 1.3.8 (Actually, I encountered this problem in previous versions.)
OS: Yosemite 10.10.5

[2015-09-27 12:05] rahmanusta commented on #148
This issue fixed in https://github.com/asciidocfx/AsciidocFX/commit/d2c1154b9b8435ee1468c86809dc51143995b4c8 , and will be available in further release. Before next release, you can use Command + Y after seeing empty editor. Thanks for the contribution!

[2015-09-27 14:50] hakdogan commented on #148
You're welcome. I know the command(cmd + y) I just wanted to let the undo issue.

Thanks.

[2015-09-27 19:39] rahmanusta commented on #148
:+1:

[2015-10-01 11:58] rahmanusta opened #149 "Substitute replacements conversion feature"
It is related to https://twitter.com/mojavelinux/status/647889666738294784

[2015-10-06 19:10] manueljordan opened #150 "AsciidocFX v1.3.8 does not execute well on Mac 10.8.5"
Hello I have
- Software  OS X 10.8.5 (12F2560)
- Java 8 U 60

I just have installed the AsciidocFX v1.3.8 for Mac

When I open/execute the program I can see the main window just one second and it crash, the app is still running, immediately for few seconds below in the dock an icon about _Updater_ appears and disappears.

If I open the app through a terminal, no error message appears. But using or

[2015-10-07 07:01] rahmanusta commented on #150
@manueljordan That is duplicate issue of #134. I asked the problem to openjfx-dev email group and I will let you know after getting response. Unfortunately I dont have a Mac to try something on it. But, If you have enough time you can try to use jdk1.8.0_40 or try earlier releases.

[2015-10-07 12:54] madmas opened #151 "Links opened in preview, not external browser"
If I have a link in my document and click on it in the preview pane, it is opened within the preview pane. I would've expected that it is opened in my browser so that I can contiue to use the preview pane for previews of my currently edited document ;-)
Using AsciiDocFx 1.3.8 on MacOSX 10.10.5

[2015-10-07 12:56] rahmanusta commented on #151
Hey @madmas you can use Go back in preview pane to turn back, but if it is not enough for you, I can try to implement different behaviour for links.

[2015-10-07 13:33] manueljordan commented on #150
Hi @rahmanusta

I see, thanks by the information. I can't go backward with the JRE. So I am going to wait the respective fix for your software (or by them). Is just the tool and unique that offers execute in realtime (live preview) the links referring to other .adoc files.

[2015-10-07 13:36] manueljordan commented on #151
HI @rahmanusta

Interesting his request. But just curious if the tab page of the live preview can be open how a new window. It to let me move it to a secondary monitor or screen. Let me know if is possible, if not I would create an issue request for that.

Kind Regards...

[2015-10-07 13:50] rahmanusta commented on #150
Hey @jperedadnr Do you know the solution this issue in JavaFX ??

[2015-10-07 14:39] jperedadnr commented on #150
Sorry, I can't say. Just tested version 1.3.8 on OS X 10.11 and JDK 8u60, it works fine.

[2015-10-07 17:13] manueljordan commented on #150
Would be possible if you share the installer of mac how a .zip file?
In the same way how Windows installer has these two options…
it to perhaps to get a realistic java error stack trace.

I have installed Ruby and Asciidoctor through HomeBrew.

[2015-10-07 17:35] manueljordan opened #152 "AsciidocFX v1.3.8 Windows .exe installer does not install on Windows 8 64bits"
Hello

I have

- Java 8 u 60
- Windows 8 64 bits

With the following installer:

- AsciidocFX_Windows.exe (v1.3.8)

In command (even without command):

[code]

Always shows this image (Even if I execute in C)

![one](https://cloud.githubusercontent.com/assets/2552795/10345470/7a43e104-6cef-11e5-802e-e8ee35a3b4f9.png)

I don´t get some kind of error stack trace.

I only can install using the .zip f

[2015-10-07 17:36] rahmanusta commented on #150
Thank you @jperedadnr . I tried on Yosemite, it worked normally as well. But, some of our users are getting "Process manager already initialized: can't fully enable headless mode." error when running AsciidocFX.

[2015-10-07 17:48] rahmanusta commented on #152
@manueljordan  Did you try to execute in Admin mode ?

[2015-10-07 18:13] manueljordan commented on #152
No, I just have open the command window, and execute the .exe file.

But I confirm it is due the lack of permissions just after to enter to the C:\Windows\Temp
when the OS show a warning window about it requires admin permission, after to say Yes. All works fine now.

[2015-10-07 18:15] rahmanusta commented on #152
Thank you @manueljordan It may be about install4j settings, I will review its options.

[2015-10-07 18:16] manueljordan commented on #152
No problem @rahmanusta . The error image was not clear.

Therefore, for this case an error about lack of writing permissions would be better.

[2015-10-09 13:05] madmas commented on #151
@rahmanusta thank you for the fast response, and of course it works. but as it does not seem to be obvious to the user (I didn't check the context menu initially ;-) ), I think opening link in an external browser would improve the usability here....

[2015-10-09 21:00] rahmanusta commented on #151
Thank you @madmas maybe I can try to show a tooltip for users when mouse over link.

[2015-10-10 12:19] LumenAstralis commented on #146
AsciidocFX v1.3.8, Win8.1, same issue.  All Chinese characters in PDF files appear as ####.  No problem in preview, HTML and browser.

[2015-10-10 12:33] LumenAstralis commented on #146
Modifying conf/docbook-config/fo-pdf.xsl by adding to <xsl:template name="pickfont-symbol">
as outlined by hefanbo in issue #138 seems to work.  I use PMingLiU, but I imagine any other zh-tw/zh-cn fonts will work too.

[2015-10-11 20:04] #152 closed

[2015-10-11 22:03] rahmanusta commented on #134
Hi @cosyman Could you try older versions of jdk than 1.8.0 u60 ? Also, which version is the newest  running version on your system?

[2015-10-11 22:20] rahmanusta commented on #150
@manueljordan Could you post all error output here ?

[2015-10-12 05:45] LumenAstralis opened #153 ":numbered!: has no effect when rendering PDF"
:numbered!: (disable heading numbering) works fine when rendering HTML, but doesn't seem to work in PDF.

v1.3.8, win8.1

[2015-10-12 05:52] rahmanusta commented on #153
@LumenAstralis  It is normal. You need to work with Docbook.

[2015-10-12 10:39] sibay opened #154 "list markdown not rendered correctly"
When writing a list in markdown, the list doesnt 'end' in the preview pane and in the browser view. For example, if you write markdown like this:
[code]

the text is displayed on the same line as the last list item.

[2015-10-12 10:47] rahmanusta commented on #154
@sibay Seperate them with // or add :hardbreaks: attribute to document;

[code]

We actually dont interest in Markdown, I can suggest to use AsciiDoc instead.

[2015-10-13 13:04] sibay commented on #154
ok, thanks for the info. i will use AsciiDoc.

[2015-10-13 13:04] #154 closed

[2015-10-13 15:51] rahmanusta commented on #148
@hakdogan This is solved in v1.3.9, please update to this version

[2015-10-13 15:51] rahmanusta commented on #147
@i-ghost Could you try v1.3.9 ?

[2015-10-13 15:52] rahmanusta commented on #144
@ahus1 Could you try v1.3.9 ?

[2015-10-13 15:52] rahmanusta commented on #137
@wsargent Could you try v1.3.9 ?

[2015-10-13 15:52] #115 closed

[2015-10-13 15:53] rahmanusta commented on #133
@wfouche Could you try v1.3.9 ? Just click corresponded element, and it will show its counterpart in editor pane

[2015-10-13 15:55] rahmanusta commented on #134
@cosyman Could you try v1.3.9 ?

[2015-10-13 21:00] hakdogan commented on #148
Good news. 👍

[2015-10-14 22:00] kindlychung opened #155 "Publish to blogger, wordpress, tumblr, etc"
Thanks for the nice work!

It would be awesome to provide support for direct publication to popular blogging platforms like stackedit does with Markdown.

[2015-10-14 22:03] rahmanusta commented on #155
@kindlychung This is awesome suggestion. I'm thinking to support blogging system

[2015-10-15 01:08] jafin opened #156 "Writing Docbook errors with cvc-complex-type.2.4.a: Invalid content was found starting with element 'emphasis'"
Unsure if I am writing invalid asciidoc, but this line

[code]

Generates this exception in asciidocFX 1.3.9 when exporting to Docbook.  It appears fine in HTML output.

[code]

[2015-10-15 02:12] wsargent commented on #137
Works fine in 1.3.9.

 

From: Rahman Usta <notifications@github.com>
Reply: asciidocfx/AsciidocFX <reply@reply.github.com>
Date: October 13, 2015 at 8:52:22 AM
To: asciidocfx/AsciidocFX <asciidocfx@noreply.github.com>
CC: Will Sargent <will.sargent@typesafe.com>
Subject:  Re: [AsciidocFX] cheatsheet does not render images on MacOS (#137)

@wsargent Could you try v1.3.9 ?

—
Reply to this email di

[2015-10-15 02:21] cosyman commented on #134
@rahmanusta  I have tried v1.3.9 on macosx10.11, jdk 1.8u60
I had also tried v1.3.8 on macosx10.10, jdk 1.8u45 serveral days ago。
the same error happened.

I‘m watiting new jdk version to try,and now I'm using windows for AsciidocFX

[2015-10-15 06:24] ozlerhakan commented on #156
Hi @jafin ,

This is a valid asciidoc format but isn't valid for DocBook. This issue is related to [#127](https://github.com/asciidocfx/AsciidocFX/issues/127). The current docbook in AFX does not allow you to add bold and italic styles into a monospace format. To fix that issue we have created a branch called [fix-127](https://github.com/asciidocfx/AsciidocFX/tree/fix-127). Probably It will be mer

[2015-10-15 15:27] #153 closed

[2015-10-15 16:33] rahmanusta commented on #134
@cosyman Thank you, I wonder, could you run application with -Djava.awt.headless=true jvm parameter? You can it in AsciidocFX.vmoptions file

[2015-10-15 17:39] manueljordan commented on #150
Hi @rahmanusta

Before to accomplish your request.

Note: Normally any program (.app) goes to /Applications directory. Normally it ask for the admin permission to install any software. I am ok with this. Your software is not the exception. But I forget to say, when I want delete the app (your software) it ask for again the admin password. First time I have this experience. I don't know if it is re

[2015-10-15 17:44] rahmanusta commented on #150
Thank you @manueljordan ;

 I wonder, could you run application with -Djava.awt.headless=true jvm parameter? You can change it in AsciidocFX.vmoptions file inside installation directory, try both true and false please :)

[2015-10-15 17:55] manueljordan commented on #150
No problem @rahmanusta

I have the file originally with the following content:

[code]

There is **no** -Djava.awt.headless definition.

Now with (true):

[code]

I get:

[code]

Now with (false):

[code]

I get

[code]

[2015-10-15 17:57] rahmanusta commented on #150
@manueljordan I need your Mac to test application :)

[2015-10-15 18:00] manueljordan commented on #150
Just curious if you can create a .dmg installer without an included JRE.
Let me know if I need do other test of any type.

[2015-10-15 18:04] rahmanusta commented on #150
Application installer doesnt allows without JRE but you can remove it manually in installation folder.

Without the dmg, we need to debug application with support of an IDE (my favorite is IntelliJ Idea)

[2015-10-15 18:05] manueljordan commented on #150
I see, is viable share an installer for Mac through a .zip file how you offer for Windows?

[2015-10-15 18:21] rahmanusta commented on #150
Ok I will share you as zip archive file. But, we need debugging the code.

[2015-10-15 18:34] rahmanusta commented on #150
@manueljordan I just uploaded it. https://github.com/asciidocfx/AsciidocFX/releases/download/v1.3.9/AsciidocFX_Clean.zip

[2015-10-15 18:40] manueljordan commented on #150
Thanks, pls give me detailed instructions to let me do a detailed test or experiment and share the result data

Let me try it this Saturday. Thanks by your understanding.

[2015-10-15 18:42] rahmanusta commented on #150
Thanks @manueljordan, Do you have a Java background ?

[2015-10-15 18:48] manueljordan commented on #150
Yes, the normal I guess… I mean if I should put something special in the terminal…

I did the following:

[code]

[2015-10-16 15:36] rahmanusta opened #157 "netscape.javascript.JSException: TypeError: null is not an object (evaluating 'maxMatch.length')"
It is a not harmful exception output but we will handle it .

netscape.javascript.JSException: TypeError: null is not an object (evaluating 'maxMatch.length')

Reporter: @gastaldi

[2015-10-16 16:13] rahmanusta opened #158 "remove quetes from tree extension's"
remove quetes from tree extension's

[2015-10-18 13:00] #158 closed

[2015-10-19 04:17] nobicycle opened #159 "Arch Linux Java Error"
Hi,
Thanks for the app.

From within the extracted archive (version without JRE)
$archlinux-java get
java-8-openjdk/jre

$./AsciidocFX
java.lang.NoClassDefFoundError: javafx/application/Application
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:760)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net

[2015-10-23 12:28] fbruch commented on #70
Sorry for my extra late reply. `:imagesdir:`-directive in asciidoctor-files works like a charm :-) Thank you! Good work!

[2015-10-23 12:39] i-ghost commented on #147
@rahmanusta It works fine in that release now, thanks!

[2015-10-29 09:46] prof7bit opened #160 "shift-insert shortcut is not bound to "paste""
when pressing shift-insert it should paste the clipboard contents, just like Ctrl-V.

Many people (like me for example) are used to the much more accessible shift-del and shift-ins keyboard shortcuts to control the clipboard instead of ctrl-c/x/v, simply because it does not require moving the hands across the keyboard and rearranging the fingers when already using left shift (left hand) and up/dow

[2015-10-29 21:02] Fjasmine opened #161 "Can't find pdf after conversion: New version bug?"
Newbie here, thanks for your patience. I'm on Windows 10 and I've been using AsciidocFX to convert .adoc s to pdf s. Just now updated to newest version of AsciidocFX, and now, after I save as pdf and close the program, my pdf is nowhere to be found. It's listed in my recent files, but the link leads to a "can't find" error.
Could this be a bug with the new version? Any idea how I can get around it

[2015-10-29 21:14] rahmanusta commented on #161
@Fjasmine Do you have any error report while converting ?

[2015-10-29 21:14] rahmanusta commented on #160
@prof7bit Yes, we should implement it.

[2015-10-29 21:20] Fjasmine commented on #161
No. Just when I try to open the pdf listed in my "recent files." Then it says file can't be found.
BTW, the pdf appears in my list of recenty-used files, but it does NOT appear in my file folders themselves.

[2015-10-29 22:00] rahmanusta commented on #161
Are you seeing PDF conversation ended message in log list?

[2015-10-29 22:07] Fjasmine commented on #161
ok, you got me there. Where would I find that log list?
Is it the list of Recent Files in lower left of AsciidocFX screen?

[2015-10-30 03:17] rahmanusta commented on #161
Log list is under the editor column.

![loglist](https://cloud.githubusercontent.com/assets/1158804/10837713/f8a4a93e-7e79-11e5-82ea-2dea5c041c7a.png)

[2015-10-30 16:08] russurquhart1 opened #162 "Creating pdf, footnotes overwrite bottom of page"
The attached file, when i try to generate pdf, the footnotes overwrite the bottom of the page, and text underdeath!
<img width="702" alt="screen shot 2015-10-30 at 10 47 01 am" src="https://cloud.githubusercontent.com/assets/1834016/10850992/827c455a-7ef6-11e5-9bb2-50ae8d599e57.png">

[2015-10-30 19:21] Fjasmine commented on #161
Tx. There IS an error message there:
"Please fix Docbook validation error LineNumber: 272, column: 37"
Then a bunch of code.

[2015-10-30 19:40] rahmanusta commented on #161
Yes, follow the line number in docbook and find asciidoc section belong to it. There is a syntax error. If you can send the document, I can fix it also.

[2015-10-30 20:36] Fjasmine commented on #161
We found the error in the asciidoc file and fixed it!
it was here: <simpara><literal>grep -r <emphasis>searchterm</emphasis> .</literal></simpara>
wrong emphasis, took out  the code apostrophe.

thank you so much for all your time, patience, and insight!

[2015-10-31 01:07] rahmanusta commented on #161
It is perfect!!

[2015-10-31 01:07] #161 closed

[2015-10-31 01:08] rahmanusta commented on #159
@nobicycle It seems JRE 8 is not installed with javafx, could you try jre bundled version of AsciidocFX to be sure?

[2015-10-31 02:38] nobicycle commented on #159
Hi Rahmanusta
As mentioned above, my Arch system reports JRE 8 is available.
$archlinux-java get
java-8-openjdk/jre
Of course I could use the JRE bundled version, but I isn't Java supposed to be "run everywhere"? :-)
Thanks for the app.

[2015-10-31 02:38] #159 closed

[2015-10-31 16:16] rahmanusta commented on #159
@nobicycle Try to run any javafx app, you will see tha truth :) Or you can install oracle jdk, or follow a tutorial to install javafx with openjdk, or use jre bundled version :)

[2015-11-01 15:45] aladagemre opened #163 "Reordering of outline items"
Scrivener app has a nice feature: You create subsections (displaying it individually) and then reorder them as you wish in the outline tree. Dragging and dropping items, creating new items/logical folders are possible.

When writing book or academic article, this feature becomes useful. You create an outline in a tree form with notes (sections) with titles in this outline. Then you fill in the sub

[2015-11-01 20:15] cortix opened #164 "Editor Name"
How can I add editor name to down below the author name??? Is there any option to add this?

[2015-11-04 14:53] wildchildEric opened #165 "AsciidocFX takes over 100% of CPU under OS X 10.11.1"
![2015-11-04 10 51 01](https://cloud.githubusercontent.com/assets/567213/10941514/c54f432e-8346-11e5-9302-22c92845d9e7.png)

[2015-11-04 15:05] rahmanusta commented on #165
Could you test with a Java profiler where is the cost?

[2015-11-04 21:50] ozlerhakan commented on #164
Hi @cortix ,
Have you tried to add another name next to the author using semicolon like below?

[code]
this approach should add another name down below the author name in a docbook, I hope that helps.

[2015-11-04 22:18] rahmanusta commented on #163
Thank you @aladagemre for feature suggestion. I like it but didn't try this feature in any editor yet. We can impelement it if its turn to come.

[2015-11-11 01:10] gmind7 opened #166 "ERROR => Problem occured while converting to PDF"
os : windows7

asciidoctor syntax error
= mainTtile: subTitle

ERROR => Problem occured while converting to PDF
java.util.concurrent.CompletionException: netscape.javascript.JSException: TypeError: undefined is not a function (evaluating 'b.$rpartition(k)')

	at java.util.concurrent.CompletableFuture.reportJoin(Unknown Source) ~[na:1.8.0_66]

	at java.util.concurrent.CompletableFuture.join(Unknown

[2015-11-11 06:14] rahmanusta commented on #166
@gmind7 Could you share your asciidoc document to test it?

[2015-11-11 06:27] gmind7 commented on #166
ok. print screen
----------------------------
= mainTitle AsciidoctorFX: subTitle

== chapter 1.

testtesttesttestd
----------------------------
![asciidoctor-subtitle-error](https://cloud.githubusercontent.com/assets/4793831/11085355/a63e6b3a-8888-11e5-9c9d-91feeb77335a.jpg)

[2015-11-11 07:56] rahmanusta commented on #166
@gmind7 It is a bug. I remember we fixed it before, but we are seeing issue again. The problem caused from ":" character in title.

[2015-11-13 10:29] NicolasGeraud opened #167 "Autosave option"
Because with the autoupdate option we have a very fluent writing workflow, it could be nice to add an "Auto save" option in Editor Settings.

With this option, we just have to think about writing, not saving.

[2015-11-13 13:06] rahmanusta commented on #167
@NicolasGeraud  Hmm, when you close any tab or application, it will save document(s) by default. Does it mean what you want?

[2015-11-13 13:53] NicolasGeraud commented on #167
No,
I use intellij in my daily work, and it saves my work in background. No more Ctrl+S .

Actually I write a long document, and I have to not forget to save my file if a crash occurs or a battery failure.

[2015-11-13 20:28] rahmanusta commented on #167
You dont need to use ctrl+s in afx. But jvm crash or battery failure causes to data lost. We are imitating intellij idea' saving behaviour. Are you sure intellij saves your data if crash or battery failure occurs?

[2015-11-17 10:42] pjBooms opened #168 "Incompatibilities with some Java 8 updates"
I found that AsciidocFX runs well with the latest Java 8 microversion (Update 66) but has issues with some previous microversions:
- It simply does not run on Java 8 Update 20:

1913 [JavaFX Application Thread] ERROR o.s.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'springAppConfig': Injection of autowire

[2015-11-17 11:28] rahmanusta commented on #168
Hey @pjBooms I'm excited you tried AsciidocFX in Java Embedded. Did you try it on Raspberry PI ?

NoClassDefFoundError: javafx/scene/control/TextInputDialog

When we look at above line , TextInputDialog class is needed by application and this class is available after JDK 1.8U40 above.

So AsciidocFX depens on jdk1.8 update 40 +

[2015-11-17 12:09] pjBooms commented on #168
Hum, why do you think that I tried it for Java Embedded?
Actually I work for Excelsior -- Excelsior JET makers. Exceslior JET is JVM with AOT compiler for desktop platforms. Now, I am developing Maven plugin for Excelsior JET -- https://github.com/excelsior-oss/excelsior-jet-maven-plugin (will be published to Maven Central soon).

So I've tested the plugin with your project. Generally, it just wor

[2015-11-17 12:15] rahmanusta commented on #168
Hmm, What you mean with "microversions", I understand it as Java embedded :)

It is cool, I'm using install4j for multiplatform installer, I see your project is a bit like that. If your project support cross-compilation then I can use it.

Because we are accessing conf folder in filesystem not in jvm directly.

[2015-11-17 12:20] rahmanusta commented on #168
Does your product give me performance improvement??

[2015-11-17 12:27] pjBooms commented on #168
"microversion" is old notation for "update".
Unfortunately, Excelsior JET does not support cross-compilation, you need to build the app for each platform separately.
We are going to support cross-compilation but it is not easy as we really compile Java bytecode to native code and link it with the target platform native libraries. It is possble to support but not easy.

You may expect performance i

[2015-11-17 12:49] rahmanusta commented on #168
I want to evaluate excelsior jet, but it has u40 profile, how can use different jdk for example u65 or u66 ?

[2015-11-17 12:51] pjBooms commented on #168
Java Updates are supported in Maintanence Packs of Excelsior JET. Java Update 65 support is scheduled for the beginning of December.

[2015-11-17 12:55] rahmanusta commented on #168
How can use Maintanence Packs of Excelsior JET ? Is it private yet ?

[2015-11-17 13:00] pjBooms commented on #168
It is not issued yet :). Supporting of Java updates is a development process for us.

[2015-11-17 13:01] rahmanusta commented on #168
Ok guy, I look forward to try it :)

[2015-11-18 11:12] rahmanusta commented on #168
I tried jet with tag v1.3.6, it works with jdk 1.8 u40. But, I unfortunately didn't feel any performance differrence

[2015-11-18 11:19] pjBooms commented on #168
What OS/CPU have you tried? I recommend to try Windows 32-bit and enable global optimizations there (SMART preset on Page Classpath of JET Control Panel).

[2015-11-18 11:23] rahmanusta commented on #168
Windows 7 x64, i5 3210M . I will try again with jet's 32 bit version again with global optimizations.

[2015-11-19 14:30] pswvg opened #169 "Maven integration"
I just took a look at asciidoc and how to integrate document generation to PDF/HTML via the asciidoctor maven plugin: http://asciidoctor.org/docs/asciidoctor-maven-plugin/.

Then I stumbled over asciidocfx and I'm impressed what powerful extensions it brings (charts, UML diagrams etc.). Of course now I'm wondering, whether any maven integration is planned for automatically generate different docum

[2015-11-20 07:05] rahmanusta commented on #169
Thank you guy, yes we can write a maven-plugin for asciidocfx

[2015-11-20 08:44] pswvg commented on #169
That would be awesome :)!

[2015-11-20 08:53] sikron commented on #169
i second that! :-)
:+1:

[2015-11-21 13:43] fpinjava opened #170 "Cancel an Redo"
Hi,

Thanks for this great software. This is really a wonderful tool, although for me, it has several minor problems.

The most missing feature in my opinion is a Cancel command. (And redo would of course be fine to). But the main problem is that although not listed in the doc, Cmd + Z (on a Mac) shuts the current document without any confirmation being asked. (Fortunately, it saves the current st

[2015-11-21 20:37] rahmanusta commented on #170
Hi @fpinjava ;

Thanks for nice words and suggestions. I didn't know Cmd + Z shuts down the application. What kind of keyboard are you using ? AsciidocFX saves the documents automatically when closing the app or focusing-out the app. This behaviour comes from Intellij IDEA's saving strategy.

Actually we dont have a complex menubar. But, I'm open to all suggestions. What is the most menu actions y

[2015-11-21 22:33] fpinjava commented on #170
I am using a French keyboard with numeric pad.

A menu bar is interesting because it is like a help system where you can find which commands are available. Anyway, this is much less important than having a an Undo command (I incorrectly called it Cancel).

I have other suggestions:

- I would prefer the Hide File Browser command to be similar to the button used to show the File browser, for exampl

[2015-11-24 19:41] rahmanusta commented on #170
Thank you @fpinjava ;

Yes, I'm working on new UI scheme for increasign flexibility

When you click right side elements, editor will find related Asciidoc component, but we can improve this feature like you said.

For raw paste, you should use Ctrl+Shift+V

Yes, we can fix it

For numbering you should add :numbered: attribute to document header.

[2015-11-24 19:41] rahmanusta commented on #149
Completed in v1.4.0

[2015-11-24 19:41] #149 closed

[2015-11-25 23:00] MarinaMichaels commented on #68
@alexec I like AsciiDoc FX for its preview window and also the way it colors comments, but I use Brackets when I need to run find or find and replace operations. I am about to install a spellchecker plugin for Brackets that is based on After the Deadline (http://afterthedeadline.com/).

[2015-11-25 23:19] rahmanusta commented on #68
Thank you @MarinaMichaels . You can use Ctrl+F and Ctrl+R shortcuts to find and replace in document. I'm thinking to support spellchecker, but afterdeadline has no turkish support :)

[2015-11-26 00:28] MarinaMichaels commented on #68
@rahmanusta Thank you! I didn't know that. That is very useful.

[2015-11-26 07:38] eshepelyuk commented on #147
It seems that in latest release `1.4.0` `imagesdir` attribute is not taking into account at all.
Preview window displays pictures only when full relative / absolute path is defined.

[2015-11-26 10:33] rahmanusta commented on #147
@eshepelyuk I tried but it seems running, could you please give more detail for your tested document?

[2015-12-02 08:22] rahmanusta commented on #16
@may-bee this feauture is now included

[2015-12-02 08:23] rahmanusta commented on #107
We simplified UI in v1.4.1 @ainsley

[2015-12-02 08:24] rahmanusta commented on #134
@cosyman a guy told me that this problem solved in v1.4.0, could you try v1.4.1 ?

[2015-12-02 08:25] #144 closed

[2015-12-02 08:26] #148 closed

[2015-12-02 08:26] may-bee commented on #16
Wow great job! Thanks, I will test it soon :)

[2015-12-02 08:28] rahmanusta commented on #166
@gmind7 could you please try v1.4.1 ? it seems fixed now.

[2015-12-02 08:29] rahmanusta commented on #167
@NicolasGeraud what do you think about AsciidocFX's saving behaviours ?

[2015-12-02 08:30] rahmanusta commented on #16
Actually, it was working from v1.3.9 :) I forgot to say it :)

[2015-12-02 13:52] DanielGrigoras opened #171 "missing icons in AsciidocFX"
Why are the [NOTE] icons missing/not shown in the document I work in, while they are present in the opened cheatsheet.adoc.

![missing icons in asciidocfx](https://cloud.githubusercontent.com/assets/15011993/11532431/67b9e832-990c-11e5-8104-b5edc485919f.png)

[2015-12-02 17:06] rahmanusta commented on #171
Hi @DanielGrigoras , which version of AsciidocFX are you using? I tried but I see the icons, could you please share a snippet of document to test it ?

THanks

[2015-12-02 17:12] DanielGrigoras commented on #171
Hi Rahmanust,

I'm using the latest version, i.e. 1.4.1 and I am totally new to Asciidoc and AsciidocFX.
I now saw that when I produce the PDF, an icon is indeed assigned for notes, despite it not being displayed by AsciidocFX (see bellow). However, as you can see bellow, a different icon is displayed for notes than the one displayed in the cheatsheet.
How could I use the FontAwesome icons and col

[2015-12-02 17:18] DanielGrigoras commented on #171
Hm, quite interesting.
For some reason I now see that the blue FontAwesome icon is displayed for notes in AsciidocFX, unlike before.
The only issue is that there is now WYSIWYG when producing the PDF, that is, the black pen and paper icon is used in the PDF instead of the white i in a blue circle.
Really weird.

[2015-12-02 17:25] DanielGrigoras commented on #171
Aha, I found the cause.
In order to have AsciidocFX display icons for the notes I have to type ":icons: font" at the beginning of the document, instead of just ":icons:".

How could I get the title printed on a separate page, i.e. on the first page? I did not see any page brake options in asciidoc.

[2015-12-02 17:26] rahmanusta commented on #171
You can replace the admonition images here https://github.com/asciidocfx/AsciidocFX/tree/master/conf/docbook/images

[2015-12-02 17:30] DanielGrigoras commented on #171
That would mean changing the icons for all users, which is not right. One should be able to use what suits him best.
A good thing would be if I were to be able to tell AsciidocFX what icons to use for what from a font file like FontAwesome.

[2015-12-02 17:31] rahmanusta commented on #171
You can use

:doctype: book

for producing title in first page.

You can change admonitions icons instead of using FontAwesome but not for PDF for now

[2015-12-03 09:53] DanielGrigoras commented on #171
Thanks!
Hopefully in the next version of AsciidocFX one will be able to choose for the PDF version the icons one prefers from a font like FontAwesome.

[2015-12-03 09:57] DanielGrigoras opened #172 "TOC printed in appendix B without specifying this"
I don't understand why in the PDF version a table of contents (TOC) is inserted in Appendix B, immediately after the title of Appendix B.

Additional information: this does not happen in Appendix A; appendix B has to subsections: B1 and B2.

[2015-12-03 10:01] rahmanusta commented on #172
Could you share a sample adoc and pdf file to see and test it.

[2015-12-03 10:39] wfouche commented on #172
I've seen a similar error with 1.4.2 when using the following document fragment:

[code]
 It is displayed as:

![adfx142_toc](https://cloud.githubusercontent.com/assets/13682850/11558344/e64f3e3c-99ba-11e5-9765-8f48fa7e2315.png)

[2015-12-03 11:25] DanielGrigoras commented on #172
Hi Rahmanusta,

Please find attached an asciidoc test document, which is anonymized version of the document I am working on. The package also contains a source image and the PDF version. The file is a zip file, but I have changed the extension to .txt because it seems that github does not allow attaching zip files.

You will see on page 17 that a TOC is inserted right after the title of Appendix B

[2015-12-03 13:53] wfouche opened #173 "AsciidocFX 1.4.2 - "Table of Contents" appearing in table body."
The following table is incorrectly rendered in AFX 1.4.2

[code]

as

![adfx142_toc](https://cloud.githubusercontent.com/assets/13682850/11560263/f4407e04-99c7-11e5-9bd4-9abec7957e86.png)

[2015-12-03 13:58] rahmanusta commented on #173
I want to ask you this issue to Asciidoctor team. @mojavelinux @Mogztter Is it a bug ?

[2015-12-03 14:03] wfouche commented on #173
The following table is correctly rendered in AFX 1.4.0
[code]
as

![adfx140_toc](https://cloud.githubusercontent.com/assets/13682850/11562554/4728cc84-99d7-11e5-896f-9a544f34aa23.png)

[2015-12-03 19:06] Mogztter commented on #173
What is the difference between AsciidocFX 1.4.0 and 1.4.2 ?
Are you using Asciidoctor.js through Nashorn or Asciidoctorj ?
Le 3 déc. 2015 3:03 PM, "wfouche" <notifications@github.com> a écrit :

[2015-12-03 19:23] rahmanusta commented on #173
@Mogztter I switched to Asciidoctor.js  v1.5.3-preview.4  in v1.4.1+ , I disabled the Nashorn extension for now, it works on WebWorker.

[2015-12-03 20:08] mojavelinux commented on #173
This is a known issue with AsciiDoc table cells in 1.5.3 if the toc is
enabled. There's an open issue in core with a workaround.

[2015-12-04 08:47] rahmanusta commented on #173
Thank you @Mogztter and @mojavelinux .

@wfouche Please follow the link to see workaround https://github.com/asciidoctor/asciidoctor/issues/1582

[2015-12-04 15:21] rahmanusta commented on #172
Please follow the link to see workaround asciidoctor/asciidoctor#1582

[2015-12-04 15:59] DanielGrigoras opened #174 "Temporary xml version of the asciidoc is opened in a new tab and no PDF produced"
Hi,

For some reason, since yesterday, even before updating from 1.4.1 to 1.4.2, the PDF version is no longer produced and instead, the temporary xml version of the asciidoc is opened in a new tab (see screenshot bellow).

![xml version displayed and no pdf produced](https://cloud.githubusercontent.com/assets/15011993/11594065/a19ce41e-9ab0-11e5-83f4-b92b53990864.png)

[2015-12-04 16:06] rahmanusta commented on #174
Hi @DanielGrigoras , you are seeing it because there is a docbook syntax error, you can look at log output and see which line has an error, and fix it in asciidoc side. If you send me your adoc I can fix it also.

[2015-12-04 16:10] DanielGrigoras commented on #174
This happens with any of the documents, including the syntax error-free one I've sent you earlier on thread #172 about "TOC printed in appendix B without specifying this".

[2015-12-04 20:20] rahmanusta commented on #174
@DanielGrigoras I tried your document zipped before, and I see no error. Could you send me showed docbook and error line number ?

[2015-12-04 20:26] #166 closed

[2015-12-04 20:26] rahmanusta commented on #165
@wildchildEric Could you test latest release?

[2015-12-04 21:23] #137 closed

[2015-12-05 12:04] wfouche commented on #173
Thanks for the workaround! Testing now with 1.4.3, works great.

[2015-12-07 05:26] jaredmorgs opened #175 "[WORKAROUND] v 1.4.3 DMG will not successfully load on El Capitan after Upgrade"
I've updated in-app from v1.4.0 to v1.4.3 today, and the program will not open. It hangs after you click the icon from LaunchPad.

To work aroud the issue, completely delete the DMG from your system and reinstall by downloading the DMG from https://github.com/asciidocfx/AsciidocFX/releases/download/v1.4.3/AsciidocFX_Mac.dmg

[2015-12-07 09:03] rahmanusta commented on #175
Thank you @jaredmorgs :+1:

[2015-12-07 15:15] DanielGrigoras commented on #174
Well, I have just installed version 1.4.3 and I have not re-encountered the above said PDF production error.

[2015-12-07 15:16] rahmanusta commented on #174
Good sir :+1: , Thanks.

[2015-12-07 15:28] DanielGrigoras commented on #174
Well, I have just re-encountered this error after I opened another asciidoc and tried producing its PDF version.
Here's the error message I get:
[code]

Here's what written in asciidoc:
[code]

And here's how that's translated in the xml version:
[code]

[2015-12-07 15:34] rahmanusta commented on #174
You asciidoc document has syntax error @DanielGrigoras ;

Options:

* You can close Docbook validation in Settings page
* You can fix syntax error by following line
* Or you can send your document and I can fix the syntax issue

[2015-12-07 15:39] DanielGrigoras commented on #174
Well, the documents I work with contain corporately confidential information, so I cannot send them to you.
I did look up the line that was said to have a syntax error, but everything looked fine, which is why I've sent you the sample codes above, thinking that you would be able to spot the error that AsciidocFX purported to exist there.

[2015-12-07 15:49] rahmanusta commented on #174
Maybe you can send me a snippet of example that causes to this issue with lorem ipsum dolar sit amet

[2015-12-07 16:15] DanielGrigoras commented on #174
I did. The documents are/should be the same.

[2015-12-08 02:31] jaredmorgs opened #176 "[suggestion] [v1.4.3] Include option to hide debug and terminal pane"
When I start AsciiDocFX, the terminal pane and debug pane displays, and takes up about half of the workspace.

I have to try and find the frame border so I can hide the pane by dragging down.

This is particularly frustrating on Mac (El Capitan) because if you add AsciiDocFX to a workspace, it forgets your view settings and shows the pane again.

I'm happy not to see this pane when working on Asci

[2015-12-08 06:49] rahmanusta commented on #176
Hi Jared,

After running AsciidocFx, is the bottom pane not minimized?

[2015-12-09 02:02] jaredmorgs commented on #176
I've just managed to replicate the issue:

Have a monitor connected to your MacBook to replicate the environment.

   1. Start AsciidocFx. The app starts in non-workspace mode (standard
   windowed).
   2. Drag AsciidocFx from non-windowed, built-in display, to Monitor into
   a workspace.
   3. Observe results.

Actual Result

The debug pane displays when the app scales to workspace size.

Expect

[2015-12-09 07:16] rahmanusta commented on #176
I don't have a Mac sir :) Could you please record a short video to
understand the isseu better.

Thanks
9 Ara 2015 04:02 tarihinde "Jared Morgan" <notifications@github.com> yazdı:

[2015-12-09 09:49] bodiam opened #178 "[suggestion] General improvements"
Hi all,

I'm the developer of the AsciiDoc plugin for IntelliJ, and yesterday, I was looking for a better AsciiDoc editor. In the process, I tried Atom, Brackets, AsciidocFX, and MacDown. MacDown is a Markdown editor, not an AsciiDoc one, but that one I like the most anyway.

I'll focus on my small experience with AsciidocFx, and my feedback on that, as a result from my conversation with Rahman (h

[2015-12-09 11:00] jaredmorgs commented on #176
No problem, I'll do one tomorrow for you.

On Wed, 9 Dec 2015, 17:16 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-09 14:02] rahmanusta commented on #178
Thank you @bodiam , I gathered good feedbacks from you;

:+1:

AFX is ~50MB for Mac, its size lower than Atom (70MB).

I'm using Install4J to create cross-platform installer, surely If there is way to do that, I will do that. I didn't know the limitation caused by certificate, I will look at this also.

I'm thinking to add menubar, JavaFX's menubar has native integration.

If you want to change ne

[2015-12-10 05:29] jaredmorgs commented on #176
I think I might have worked out what's happening here.

When AsciidocFx is initially launched, it expects that the desktop size
will be no greater than 1080p.

If you pull the cascaded window into a workspace on Mac (where the app goes
full-screen), you get just a little bit more screen horizontal space, so
the debug pane shows only the tabs on the bottom of the screen.

https://youtu.be/bj-JiVcoX

[2015-12-11 13:30] wfouche opened #179 "AsciidocFX - proposing Stable vs Fresh releases."
Would be nice if we can have Stable and Fresh releases of AsciidocFX.

Most users would just want to stay on a Stable (say 1.4.0) release while several Fresh releases (1.4.1, 1.4.2, ...) are made till the next release that can be considered Stable.

This is similar to how LibreOffice is maintained with Stable releases (no worries, download install and run and be happy) and Fresh releases (bleeding

[2015-12-12 10:30] rahmanusta commented on #176
@jaredmorgs Thank you for the videos, I know this issue it is about JavaFX, when we change window's position/size it moves splitter's position. I will fix it in next version.

[2015-12-12 10:39] jaredmorgs commented on #176
Nice one! Thanks Rahman.

On Sat, Dec 12, 2015, 20:30 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-12 12:13] #172 closed

[2015-12-12 12:13] #171 closed

[2015-12-13 11:14] rahmanusta commented on #150
@manueljordan Can you try latest release ?

[2015-12-13 11:15] rahmanusta commented on #176
@jaredmorgs Can you try latest release ? Is it same what you say?

Thanks

[2015-12-13 11:15] #107 closed

[2015-12-13 11:17] rahmanusta commented on #68
@ruckc @shawngiese @MarinaMichaels @alexec Could you please try v1.4.4 for its spell checker featre?

https://github.com/asciidocfx/AsciidocFX/releases/tag/v1.4.4

[2015-12-13 11:17] #165 closed

[2015-12-13 12:57] jaredmorgs commented on #176
Will try it out tomorrow. That was quick!

On Sun, 13 Dec 2015, 21:15 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-13 17:21] pysaumont opened #180 "Crash"
Hello,

I found I could crash Asciidoc FX in a reproductible manner by just copying a few words and pasting them elsewhere. However, It "works" only with a specific document. What can I do to show you the problem?

[2015-12-13 17:24] rahmanusta commented on #180
Could you please send me your copied document ? Which version are you using?

[2015-12-13 18:10] pysaumont commented on #180
Sure. I hope you will experiment the problem. I am using AsciidocFX while writing a book for Manning. They found it (AsciidocFX) very good, and they said they will use it!

To reproduce the problem in the file, here are the manipulations:

Find the comment after « Exercise 11.3 »

Copy « Recall the `foldInOrder` method » in the command

Select the sentence « Remember (or look at the code) the `fol

[2015-12-13 18:21] rahmanusta commented on #180
Thanks @pysaumont , it is great you are a manning book author, I'm glad to hear that Manning thinks to use AsciidocFX, I'm ready to help them if needed.

I actually didn't understand the scenerio, if you want we can make a teamviewer session to see the issue in action ?

I will also try to fix cmd + z issue.

Do you need save as feature ?

[2015-12-13 18:49] pysaumont commented on #180
Unfortunately, I can't use Teamviewer.

"Save as" would be nice. But the main problem is that changes may be saved without the user noticing it, for example by quitting the application. Saving automatically is good, but it should be done to a temporary file, so that changes might be abandoned. And when quitting, a dialog box should be displayed to ask the user if he wants to save.

More generally,

[2015-12-13 18:53] rahmanusta commented on #180
I got it, could you record a short video?

[2015-12-13 21:29] pysaumont commented on #180
I’ll try, but not before one or two days

[2015-12-14 08:22] cosyman commented on #134
Actually，1.4.1 not work at my macbook osx 10.11.2

And Today I tried AsciidocFX 1.4.4, It's worked!  :laughing:

[2015-12-14 08:31] rahmanusta commented on #134
:+1:  :+1:  :+1:  :)

[2015-12-14 08:31] #134 closed

[2015-12-14 11:55] jaredmorgs commented on #176
The behaviour is still happening when I maximise the AsciidocFx window to
full-screen on the MacBook Pro built-in display.

I'll try it tomorrow on the large resolution display and see if the same
behaviour happens again.

On Sun, 13 Dec 2015 at 22:57 Jared Morgan <jaredleonmorgan@gmail.com> wrote:

--

Sent from Mobile.

[2015-12-14 18:38] wfouche commented on #176
@rahmanusta  On Windows 7 (screen resolution:1920 x 1080) I experience a similar problem with or without taskbar set to "auto hide" when AsciidocFX *1.4.4* is started. By clicking on "Log" twice, the issue is resolved. I need to do this each time at startup. It also works if I click on "Terminal" twice. Did not experience this issue on *1.4.0* from which I've just upgraded.

![clipboard01](https:/

[2015-12-14 20:57] jaredmorgs commented on #176
Hmm, it looks like the in-app updater isn't pulling in the latest 1.4.4
dmg. I've also tried to download the latest .dmg from the
http://asciidocfx.com/#truehow-to-install-asciidocfx link and it doesn't
give me 1.4.4.

Maybe the link needs an update?

On Mon, 14 Dec 2015 at 21:54 Jared Morgan <jaredleonmorgan@gmail.com> wrote:

Sent from Mobile.

[2015-12-14 21:28] rahmanusta commented on #176
I forgot to update site :) it is updated now. Also note that you can find all releases in https://github.com/asciidocfx/AsciidocFX/releases page

[2015-12-14 21:36] jaredmorgs opened #181 "Make it really clear where to download the latest builds"
When I was testing out an issue in #176 I totally missed the fact that there was a "Releases" page until I took a hard look at the caption on the table.

I'm going to make a PR to improve this section of the guide.

[2015-12-14 21:44] rahmanusta commented on #181
I will be welcomed to see your PR :+1:

[2015-12-14 22:09] jaredmorgs commented on #176
Confirmed fixed for me on 1.4.4 Mac (El Capitan). Thanks for getting this into the latest release so quickly @rahmanusta :+1:

[2015-12-14 22:14] rahmanusta commented on #176
Thanks for checking it @jaredmorgs :+1: This release includes initial spell checker feature, what do you think for this ?

[2015-12-14 22:15] jaredmorgs commented on #176
Ooh, I'll have to check that out.

On another subject, do you do release notes for new features like this?

On Tue, 15 Dec 2015 at 08:14 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-14 22:17] rahmanusta commented on #176
Yes :) Actually we need to update Change Log for every release but time time time :)

[2015-12-14 22:22] jaredmorgs commented on #176
Can't you just auto-gen that from the bug fixes from GitHub? Maybe consider
https://github.com/skywinder/github-changelog-generator

On Tue, 15 Dec 2015 at 08:17 Rahman Usta <notifications@github.com> wrote:

--

Sent from Mobile.

[2015-12-14 22:23] rahmanusta commented on #176
Seem good!

[2015-12-14 23:43] jaredmorgs commented on #176
you just have to make sure that the Bug description is detailed enough.

For example, https://github.com/asciidocfx/AsciidocFX/issues/180 would need
to be edited from "Crash" before you commit the fix to something like
"Improve the way changes are saved in documents" (which is my summary of
what the issue seems to be about).

If you can get into the habit of doing that, you should be able to make

[2015-12-15 20:44] rafik777 commented on #143
+1

[2015-12-16 22:13] madmas opened #183 "Crashing using labeled lists"
Hi,
I managed to reproduce crashed of AsciiDocFx by using labeled lists.
To reproduce it, just start a new document and start typing, for example
[code]
By the time I hit the second : , it crashes.
Environment: Java 8 on MacOSX, Git rev a8e7800 (master)
As I ran it from the commandline I got the following output:
[code]

Can I provide more helpful information?

thank you

[2015-12-16 22:18] madmas commented on #183
Just realized taht this seems to be a duplicate of #150 and maybe #180. Sorry for the duplicate. Leavin it open for the moment in case I can collect more information...

[2015-12-16 23:13] rahmanusta commented on #183
Thank you for report @madmas , I tried your case and I'm getting an exception while typing second : but not caused to JVM crash in Windows. I will investigate the reason tomorrow.

[2015-12-17 08:13] rahmanusta commented on #183
I filed a bug in asciidoctor.js https://github.com/asciidoctor/asciidoctor.js

[2015-12-19 00:26] #183 closed

[2015-12-19 00:30] #181 closed

[2015-12-19 00:31] rahmanusta commented on #180
Could you please try version 1.4.5 ? https://github.com/asciidocfx/AsciidocFX/releases

[2015-12-19 00:32] rahmanusta commented on #183
Could you please try version 1.4.5 ? https://github.com/asciidocfx/AsciidocFX/releases

[2015-12-19 08:28] rahmanusta commented on #143
Could you please try version 1.4.5 ? https://github.com/asciidocfx/AsciidocFX/releases

@rafik777 @wfouche

[2015-12-19 08:29] rahmanusta commented on #140
Could you please try version 1.4.5 for data-uri? https://github.com/asciidocfx/AsciidocFX/releases

[2015-12-20 07:11] ahnajmi opened #184 "SVG images not rendered in the preview"
The preview doesnot render the svg images properly in the preview[donot see borders], if I change from svg to png they are rendered properly, I can still see the images rendered properly in the browser.

<pre>
:imagesdir: output/images
:imagesoutdir: output/images
:uml: "plantuml"
:umlimg: "svg",align="center",width=580

:doctype: book
:encoding: utf-8
:lang: en
:numbered:

.State Diagram
[{uml},S

[2015-12-20 07:17] ahnajmi opened #185 "Crashes while copying image from preview"
When I tried to copy the image to clipboard as above it crashed. using version 1.4.5

![image](https://cloud.githubusercontent.com/assets/5001607/11916979/9eaaa67e-a717-11e5-9f8c-305e8d36e13f.png)

[2015-12-20 09:23] wfouche commented on #143
@rahmanusta

All i can say is, wow! Thanks for implemeting the data-uri feature.

Other's might find the following useful. This is how the start of all my documents are defined for use with AsciidocFX 1.4.5.  :data-uri: to create a self-contained HTML file and :toc!: to ensure that Table Of Contents information is not displayed in tables in the document (workaround for bug in Asciidoctor 1.5.3-bet

[2015-12-20 09:50] rahmanusta commented on #185
Thanks for report @ahnajmi , which OS are you using ?

[2015-12-20 09:59] rahmanusta commented on #184
@ahnajmi It is about JavaFX which has limited SVG support. For that reason, you may see svg output in preview section messy but you will see right output in PDF or external browser.

[2015-12-20 12:50] rahmanusta commented on #185
This is a JavaFX bug, I will open an issue for that.

[2015-12-20 12:50] rahmanusta commented on #180
Is the problem solved  ? @pysaumont

[2015-12-20 14:17] #143 closed

[2015-12-21 11:27] ahnajmi commented on #184
only work around I do is I keep it in png till I am working on it then make it svg once design is done.
<pre>
:umlimg: "svg",align="center",width=580
</pre>

[2015-12-21 11:28] ahnajmi commented on #185
I am using it in Windows 10.

[2015-12-21 14:29] pysaumont commented on #180
The problem seems to be solved. However, I could not reproduce it after a few days with the previous version, so I really do not know what to think.

[2015-12-27 22:08] manueljordan commented on #150
Hi @rahmanusta

thanks a lot, it works now!…

What was the problem?

[2016-01-02 08:59] gernotstarke commented on #164
You can define arbitrary variables between colons (:), like shown below for :author: and :editor:

    = Book Name
    :author: UnknownAuthor
    :editor: FamousEditor

    :email: gernot.starke@innoq.com
    :date: {docdate}

     {author}, {email}
     {editor}

     last change: {docdate}

renders as shown in the image below:
![asciidocfx_-__users_gstarke](https://cloud.githubusercontent.com/as

[2016-01-02 09:02] gernotstarke opened #186 "[Useability] AsciidocFX should remember last screen size"
Currently (v 1.4.5) AsciidocFX always starts a new session in full screen mode (at least on MacOS).

If a user changes size/position, this setting is currently ignored upon next start.

[2016-01-02 09:08] gernotstarke opened #187 "useless "settings" menu item"
![asciidocfx_-__users_gstarke_projects_htmlsanitycheck-all_htmlsanitycheck_src_docs](https://cloud.githubusercontent.com/assets/1233990/12073922/adc4290c-b138-11e5-8e8a-6696cc34ed19.jpg)

there's a settings tab on the right (ok), but the menu item does not do anything...

imho either remove it or it shall open the settings tab...

[2016-01-02 10:37] wfouche opened #188 "AsciidocFX 1.4.5 - ERROR => Problem occured while jumping from outline"
Hi @rahmanusta ,
When using the HTML "Save" option in AsciidocFX 1.4.5, the contents of the Outline window disappears.

![screenshot from 2016-01-02 12 33 12](https://cloud.githubusercontent.com/assets/13682850/12074158/349411ae-b14d-11e5-8a1a-b382ee301ebb.png)

[code]
![screenshot from 2016-01-02 12 33 47](https://cloud.githubusercontent.com/assets/13682850/12074159/41192b9e-b14d-11e5-922d-98c70f

[2016-01-02 13:29] gernotstarke commented on #133
works, I propose to close this issue.

[2016-01-02 14:28] #133 closed

[2016-01-04 12:45] rahmanusta commented on #187
Yes @gernotstarke , it is now useless, will remove it next version

[2016-01-04 12:48] rahmanusta commented on #186
@gernotstarke Do you mean full screen mode as full editor area? Normally, AsciidocFX saves divider positions to user home. Do you see any error output in AsciidocFX log file ?

[2016-01-04 12:48] rahmanusta commented on #188
Thank you @wfouche , I will investigate it.

[2016-01-04 12:49] rahmanusta commented on #185
@ahnajmi It is a JavaFX bug appears if you click "copy image to clipboard" for a svg image.

[2016-01-04 12:50] rahmanusta commented on #184
@ahnajmi Yes, you can use the workaround because it is related to JavaFX platform

[2016-01-04 12:50] #184 closed

[2016-01-04 12:51] rahmanusta commented on #180
Thanks @pysaumont . I will close the issue, if you faced with this issue again, you can ping me again.

[2016-01-04 12:51] #180 closed

[2016-01-04 12:51] #185 closed

[2016-01-04 12:52] #174 closed

[2016-01-04 12:52] rahmanusta commented on #164
@cortix Do you think this issue is solved?

Thank you @gernotstarke

[2016-01-04 18:15] thomas-crowe commented on #140
I did a quick test of just adding the :data-uri: to an existing asciidoc file I was working on, and it seemed to work.  I will try a more in-depth test later tonight.

[2016-01-04 18:17] rahmanusta commented on #140
Thank you @thomas-crowe

[2016-01-04 18:20] thomas-crowe opened #189 "Superscript only affecting a single word"
When I attempt to markup a string to be formatted as superscript using the '^' markup, it only seems to affect a single word at a time, not the entire string as delimited by the caret.

E.G.
* [line-through]#Install Glance# ^Covered^ ^in^ ^OSP^ ^Implementation^
renders as I want, with "Covered in OSP Implementation" being all superscript; however

* [line-through]#Install Glance# ^Covered in OSP I

[2016-01-04 18:28] rahmanusta commented on #189
You can use following workaround;

[code]

[2016-01-05 11:26] wfouche commented on #173
@rahmanusta

The freshly released Asciidoctor 1.5.4 resolves this issue without requiring the :toc:! workaround.

https://github.com/asciidoctor/asciidoctor/commit/9d116e52e9caec9f49ff030e2e0f9e5a37c58c0e

![image](https://cloud.githubusercontent.com/assets/13682850/12114032/774ba4e4-b3af-11e5-9ab9-e1dbeaba9b8a.png)

Upgrading to Asciidoctor.js v1.5.4 would resolve this issue in AsciidocFX.

[2016-01-05 11:27] mojavelinux commented on #173
:+1:

[2016-01-05 11:29] rahmanusta commented on #173
Yes @wfouche , we will use it in next version :+1:

[2016-01-05 11:30] mojavelinux commented on #173
We're working on the Asciidoctor.js 1.5.4 release now. @rahmanusta you might be interested to know that extension will now be able to resolve absolute file:/// paths, which should help with the chart extension.

[2016-01-05 11:39] #179 closed

[2016-01-05 11:40] rahmanusta commented on #173
Thank you @mojavelinux for informing me , do we need it in csv loading ?

[2016-01-05 11:43] rahmanusta commented on #179
@wfouche This is good suggestion, but I don't think I can sustain like that.

[2016-01-05 12:21] mojavelinux commented on #173
Yes, it's what it needed to load the data for the chart block macro. It was
not resolving the file before.

[2016-01-05 14:55] gernotstarke commented on #186
I mean screen resolution, not divider setting.

That is:

* last window size (in case user has resized the app, which I personally do, as my 27’’ monitor is just tooo big for one editor window…)
* last x/y position on screen

hope that makes the issue a little clearer
Gernot

[2016-01-05 16:37] rahmanusta commented on #186
Aha, yes I understand it. It is now clear for me. We can do that @gernotstarke

[2016-01-05 21:43] #189 closed

[2016-01-05 21:49] rahmanusta commented on #173
Thanks for this news :+1: AsciidocFX supports chart block (JavaFX charts) but there may be differences according to Asciidoctor (because of input model). But my goal is to adapt extensions fully-compatible with Asciidoctor.

[2016-01-06 03:08] 7upcat opened #190 "Win7 X86 can not install Asciidoc Book"
which version should win7 x86  user download.

[2016-01-06 07:04] rahmanusta commented on #190
AsciidocFx releases doesnt include x86 build. You need to build yourself.

[2016-01-06 11:25] joswarmer opened #191 "Cannot turn off or configure spelling checker"
In one of the last versions a spelling checker has been added.  This is turned on by default.  I try to find a way to configure the spelling checker, but I cannot find it anywhere. I would like to be able to turn off the spelling checker completely,  and to select the language used.

Is there a way that I did not find?

Jos Warmer

[2016-01-06 11:27] rahmanusta commented on #191
@joswarmer You can configure spell-checker in editor context-menu (Right click to editor).

[2016-01-06 20:49] MarinaMichaels commented on #68
Hi Rahman. I tried this, but it underlines just about every word. I am guessing that means it thinks the word is misspelled.

[2016-01-06 20:53] rahmanusta commented on #68
Yes underlined words misspelled. If you right click to editor, you can change spellcheck language.

[2016-01-06 20:56] MarinaMichaels opened #192 "How do I create PDFs?"
I would like to create PDFs using AsciiDoc FX. I'm using AsciiDoc FX version 1.4.4. I've searched the AsciiDoc FX documentation, but didn't find anything in there on what I need to do. I've watched the YouTube tutorial on writing books with AsciiDoc FX, and that showed a choice for creating PDFs. My version doesn't have that option.

What do I need to do to generate PDFs? Thanks!

[2016-01-06 20:59] rahmanusta commented on #192
Hi @MarinaMichaels , you can use PDF save button to produce PDF output like below;

![image](https://cloud.githubusercontent.com/assets/1158804/12154586/0f42224a-b4c9-11e5-8d8d-d1c14aba65a5.png)

[2016-01-06 20:59] MarinaMichaels commented on #68
Hi Rahman,

Thanks. What do you mean by “right-click to editor”? I’ve tried right-clicking in several different places and don’t see that option.

Regards,

Marina

From: Rahman Usta [mailto:notifications@github.com]
Sent: Wednesday, January 6, 2016 12:53 PM
To: asciidocfx/AsciidocFX <AsciidocFX@noreply.github.com>
Cc: MarinaMichaels <marina@sonic.net>
Subject: Re: [AsciidocFX] Spell Checker Integ

[2016-01-06 21:00] MarinaMichaels commented on #192
I am embarrassed now. It was right there! Thank you.

[2016-01-06 21:08] rahmanusta commented on #68
It is here @MarinaMichaels  ;

![image](https://cloud.githubusercontent.com/assets/1158804/12154818/67240a54-b4ca-11e5-884f-738bb8b71096.png)